[2018-10-31 07:52] bogatykh commented on #942
Question was not answered.
How to read query parameters inside Hub?

[2018-10-31 08:57] jerdnox commented on #3235
Well, I am not trying to convince you. I was just curious if you have any thoughts/plans about handling errors.

The solution with generic result is exactly what we already thought about (and what we will most likely implement). I believe that you are right in that you have complete control and flexibility. But there are some things I don’t like about it.

It is not backward compatible change if y

[2018-10-31 09:45] akira32 commented on #3228
anurse, Thank you. I have another confuse the persistent connection disappears in asp.net core?

[2018-10-31 11:15] ezamelczykespeo opened #3238 "Java Client: Add another method for specifying timeout for HubConnection"
For now the only way to add handshakeResponseTimeout is to invoke method `HubConnectionBuilder#withHandshakeResponseTimeout(Duration)`. This is very limiting for Android developers since class `Duration` isn't available below api 26 of Android SDK.

Proposed solution would be to add overridden method `withHandshakeResponseTimeout(long, TimeUnit)`.

[2018-10-31 15:39] BrennanConroy commented on #3238
Dupe of https://github.com/aspnet/SignalR/issues/3141

We've done some work to get the API level down since preview3. Take a look at https://github.com/aspnet/Docs/pull/9342

[2018-10-31 15:39] #3238 closed

[2018-10-31 16:01] anurse commented on #3228
Correct, ASP.NET Core SignalR does not currently include an equivalent for PersistentConnection.

[2018-10-31 16:07] anurse commented on #3235
No problem :). Just wanted to lay out my current feelings!

That's a good point. It's one of the many reasons Exceptions exist, because you want some way outside of the normal flow to communicate an error. API Versioning is something we're going to look at in 3.0 (in relation to https://github.com/aspnet/SignalR/issues/3157) so this may be something we need to consider.

Another good point, `Chann

[2018-10-31 17:00] anurse opened #3239 "Ensure AzDO CI builds in release/2.1"
We want to fully transition from Jenkins to Azure DevOps (AzDO), but AzDO isn't currently building `release/2.1`. I don't think it's going to be hard to port it, but we need to do the work:

* [ ] Backport the YAML config file to the `release/2.1` branch
* [ ] Change the triggers in AzDO to trigger PR and commit verification builds
* [ ] Verify that the builds are triggering properly and succeed.

[2018-10-31 17:42] BrennanConroy commented on #2962
Closing this issue as it has become too clustered. The original test failure hasn't occurred since we made some changes in that area and the most recent failure `ServerThrowsHubExceptionOnStreamingHubMethodArgumentCountMismatch` will have a new issue opened if it happens again. And hopefully it will have more logs if https://github.com/aspnet/Logging/pull/922 goes in.

[2018-10-31 17:42] #2962 closed

[2018-10-31 17:45] anurse commented on #942
Reading query string parameters in the hub is not recommended as SignalR is generally not directly tied to a single HTTP request (there are multiple requests going on throughout the connection). However, if it's essential to your scenario and can't be done any other way, you can access the entire HTTP context (including the query string) via `Context.GetHttpContext()` in the Hub.

[2018-10-31 21:31] jerdnox commented on #3235
OK then. Thanks for the information.

API Versioning is also something we talked a lot about in our team. Our current approach is to hold backward compatibility as long as possible by using “good” request/response objects. Something similar to what you mentioned in [#3157](https://github.com/aspnet/SignalR/issues/3157) “use classes as parameters”. When we should introduce breaking change then we p

[2018-11-01 02:50] akira32 commented on #3228
I write a pom.xml in root fo JavaFX(Intellij). Is the pom.xml correct?

[code]

[2018-11-01 09:35] finebytes opened #3244 "'TypeError: connection.on(...) is undefined' when trying to set up the listener before connection.start()"
When trying to register a listener before connection.start() using the javascript client, like this:

    $(window).on('load', function (e) {
            initMap();
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://fluxmobileapi-romaris.azurewebsites.net/ordersHub")
                .configureLogging(signalR.LogLevel.Debug)
                .build();

[2018-11-01 09:46] akira32 opened #3245 "How do I debug ClientSample by breapoints？"
I rebuild all projects of SignalR. I run SignalRSample and it shows the message as below:

[code]
I run the ClientSample with debug mode and set the breakpoint at program.cs's Main function. But the code does not stop. So, How do I set the breakpoints and debug the code inside ClientSample?

Another problem is that the SignalRSample and ClientSample is the couple for SignalR Server and Signal Clie

[2018-11-01 10:28] finebytes commented on #3244
Found the issue.
The **catch** method doesn't work when applied over the connection.on, it only works on connection.invoke() and connection.start(). That actually makes sense if you think about it.
Although, chrome error message was much more helpful in debugging it than firefox is...

This can be closed

[2018-11-01 13:03] akira32 opened #3246 "Is there build.gradle complete sample for Java project?"
Is there build.gradle complete sample for Java project?

[code]

[2018-11-01 13:36] legistek commented on #357
Service Broker is supported in SQL Server Standard Edition.

https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-2017?view=sql-server-2017

The reason would be in the *very common* scenario where an application is already using a Microsoft SQL server plus an arbitrary number of load balanced API servers, it would be nice to use the existing SQL server and not have

[2018-11-01 15:20] #3244 closed

[2018-11-01 17:01] anurse commented on #357
Good to know! It still remains true that SQL Server was always a most costly and less efficient way to run a backplane. It's not yet clear to me if people want a *SQL Server* backplane or just a *Windows On-Premise* backplane. The APIs are also very simple and extensible (the [Redis implementation](https://github.com/aspnet/SignalR/blob/release/2.2/src/Microsoft.AspNetCore.SignalR.Redis/RedisHubLi

[2018-11-01 17:02] anurse commented on #3228
It looks fine to me, what error are you getting?

[2018-11-02 02:12] akira32 commented on #3245
The target framework of SignalRSamples project is blank. But I see the SingalRSamples.csproj' content.
The content as below:    Is the situation normal?

[code]

[2018-11-02 02:53] akira32 commented on #3245
When I switch the configuration as net461 and rebuild again in Visual Studio 2017 pro. It appears the error messages below:

[code]
PS: My OS and VS is Chinese. So I cannot switch the language. The error messages are translated by me.

I saw some articles describe "npm install @aspnet/signalr". My OS is Windows10. Where(path) should I run the npm command in Windows 10?

[code]

[2018-11-02 03:41] akira32 commented on #3245
I can debug the SignalRSample and ClientSample by switching the configuration to be net461.

[2018-11-02 07:13] akira32 opened #3251 "JavaFX(Intellij) project use Chat.java, it appears [Exception in thread "OkHttp Dispatcher" java.lang.NullPointerException]"
I create a JavaFX(Intellij) in CentOS7 and write a pom.xml its content as below:

[code]
I run the SignalRSamples use net461, the information as below:
I also run two ClientSample with hub parameter. And then I can see the two ClientSample connecct and send message each other.

[code]

But I put "SignalR/clients/java/signalr/src/test/java/com/microsoft/signalr/sample/Chat.java" into my JavaFX proj

[2018-11-02 09:36] akira32 commented on #3223
@BrennanConroy Can I ask you a question?
The SignalRSamles run and the console message as below:

[code]

My Java project should use the URL of "http://localhost:5000" to connect SignalR Server？
HubConnection connection = HubConnectionBuilder.create("http://localhost:5000").build();

I try to use Chat.java in my JavaFX project and meet the exceptions as below:
Do you know how to solve this problem

[2018-11-02 13:19] legistek commented on #357
@anurse I don't disagree SQL server isn't necessarily the best backplane in the abstract (indeed, I've had a lot of trouble with it in SignalR in ASP.NET-not-core - and debugging on localhost with it is next to impossible - but it is functional). But again it's just a matter of not wanting to force my customers to deploy a dedicated Linux box on top of an already complex (all Windows) infrastructu

[2018-11-02 14:54] saibaskaran57 opened #3252 "[Question] Versioning strategy on SignalR"
Hi there,

I would want to get some recommendation in regards to versioning strategy on signalr.

My use case will contain a single hubs that has 3 methods. It provides independant result with accepting models in params that is similar to REST. The reason i'm doing this is that to execute the 3 operation using one websocket. However, i may need to evolve it at a point on without having to break cl

[2018-11-02 15:39] BrennanConroy commented on #3251
When passing a URL you need to include the hub route. For example in the SignalRSamples you can pass in "http://localhost:5000/default".

I suggest you read our [docs](https://docs.microsoft.com/aspnet/core/tutorials/signalr?view=aspnetcore-2.1&tabs=visual-studio) and write your own app from scratch so you understand everything going on.

[2018-11-02 18:03] anurse commented on #3252
Our main recommendation here is to version parameters using a custom object. For example, you would have a Hub method defined like this:

[code]

If you add *properties* to `MyRequestModel`, and an old client sends the message without those properties, then the values will simply be `null` and you can have default behavior. Similarly, if a new client comes to an old server and sends the message **

[2018-11-02 18:08] anurse commented on #357
Yeah, as I said, I definitely buy the scenario that a *Windows-based On-Premise* backplane makes sense. I just wanted to reframe the discussion in terms of that instead of SQL Server since it's been problematic :).

Yep, this is something we've been tracking in https://github.com/aspnet/SignalR/issues/968 for a while :). It's a good idea, we just haven't got a good design for it yet (other priorit

[2018-11-02 18:10] anurse commented on #3245
The samples in this repository are mostly designed for testing, rather than documentation. If you're looking for a guide to get started, I'd suggest using the [SignalR Documentation site](https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-2.1) instead of our repository samples. For example, there is a document describing the [.NET Client](https://docs.microsoft.com/e

[2018-11-02 21:09] bradygaster commented on #3245
We also have the [SignalR-Samples](https://github.com/aspnet/SignalR-samples/) repository with a ton of samples in it. Take a peek there as well. As @anurse pointed out, though, the docs are the best place to get started.

[2018-11-03 05:11] saibaskaran57 commented on #3252
Hi @anurse,

Thanks for your quick reply!

You have pointed good points to start with. Adding _properties_ can remain on the same `MyRequestModel` and it should not break client integrations.

**How about if a property needs to be _removed/naming update_ from `MyRequestModel`?**
By doing parameter versioning, it would enforce client to receive the immediate server changes and should impact client

[2018-11-03 11:40] akira32 commented on #3251
I had solved my problem. I comment original source code and add Send and Receive Message parameters from two to one.
Thank you, @BrennanConroy . The key word is the URL of the SignalR(http://localhost:5000/default).
[code]

[2018-11-04 17:18] bpred754 commented on #3179
Using the browser specific version seems to be working for me. Thanks!

[2018-11-04 19:02] x3r10n opened #3254 "Angular 7 can't build with package @aspnet/signalr@next (1.1.0 preview3-35497)"
the cli can't resolve the http and https module.

[code]

[2018-11-05 01:46] akira32 opened #3255 "How to let ClientSamples(SignalR Server) listen a certain IP?"
I wish I can listen to a certain IP. For example 192.168.56.1(one IP of my windows 10 computer). I want to test VirtualBox's Linux VM connect to SignalR Server.

Can I modify the Listening for my certain IP likes below:
Now listening on: http://192.168.56.1:5000

[code]

[code]

[2018-11-05 02:21] aspnet-hello opened #3256 "Test failure: HubConnectionCanSendAndReceiveGroupMessages"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=588061&buildTypeId=Releases_22xPublic_UbuntuUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC muratg

[2018-11-05 03:28] akira32 commented on #3223
If we use "https://example.com", the SignalSamples (SignalR Server) should modify something or not?

[2018-11-05 05:16] Mangoxx90 commented on #3223
then HubConnection method how to register online and offline callback?

[2018-11-05 06:01] BrennanConroy commented on #3223
What do you mean? What should it modify.

[2018-11-05 06:17] akira32 commented on #3223
@BrennanConroy , Should we modify the listen of the option if we use "https://example.com"?
[code]

[2018-11-05 06:48] akira32 commented on #3255
I had solved this problem by adding the line of "options.ListenAnyIP(5000);".

[code]

ClientSamples
[code]

SignalRClient of JavaFX(Chat.java after modified)
[code]

[2018-11-05 08:53] Mangoxx90 opened #3257 "What method attributes specified hubname call?"
What method attributes specified hubname call in java?

[2018-11-05 09:04] Mangoxx90 opened #3258 "whether connect to server?"
Execute the following code:

HubConnection hubConnection = createHubConnection("https://example.com/signalr", new MockTransport(true), true, new TestHttpClient());
        hubConnection.start().timeout(1, TimeUnit.SECONDS).blockingAwait();
        hubConnection.on("Send", (name, message) -> {
            System.out.println("*******************************" + name + ": " + message);
        }, Stri

[2018-11-05 09:18] akira32 opened #3259 "SignalR .net core 2.2 does not support Windows Desktop Applications"
I want to integrate SignalR .ent core 2.2 to windows form. But I found an article as below:
[.NET Core 3 and Support for Windows Desktop Applications](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications/)

Can I use .NET core library and use Windows form to assign it as a reference?
Does somebody have any idea about using SignalR .net core on

[2018-11-05 16:09] BrennanConroy commented on #3251
Glad you found the solution! Closing as it looks like the issue is resolved.

[2018-11-05 16:09] #3251 closed

[2018-11-05 16:16] BrennanConroy commented on #3179
We've also changed the client to use the `request` module instead of `http`, which will be available in the 1.1  RTM version of the client. Maybe that will work with React Native better than `http`?

[2018-11-05 16:18] BrennanConroy commented on #3255
Looks like you fixed your issue. I'm closing this, feel free to reopen if you still have an issue.

[2018-11-05 16:18] #3255 closed

[2018-11-05 16:28] anurse commented on #3258
Why are you using the URL `example.com`? That isn't a real server. Also, you are using the `MockTransport` and `TestHttpClient` classes, these are only for testing. Have you looked at the [documentation for the Java Client](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2)?

[2018-11-05 16:29] anurse commented on #3257
Attributes are only used on the server. What are you trying to achieve? Can you show a code sample? Have you reviewed the [Java Client documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2)?

[2018-11-05 16:33] anurse commented on #3252
If a property is removed from the model class but is still sent in the JSON payload, it will just be ignored. A rename is just the same as removing the old property and adding the new property. So if an old client is connected and the server sends a payload that is missing a property (because the property was removed in the new version), then the old client will see the property as `null` (or what

[2018-11-05 16:34] anurse commented on #3254
@BrennanConroy Could be a WebPack thing. Angular shouldn't be using the `NodeHttpClient` at all...

[2018-11-05 16:36] analogrelay opened #3260 "SignalR and Authentication"
_From @tangueroR on Monday, 05 November 2018 08:47:01_

# Issues related to the Asp.NET Core version of SignalR should be filed in the corresponding SignalR repo: https://github.com/aspnet/?utf8=%E2%9C%93&query=Signalr
Hi,

I have a .net Core application which includes Authentication and ssl.
My frontend application is angular 6 and I am using signalR.
If I do not use https everything is working w

[2018-11-05 16:40] anurse commented on #3260
The call stack you provided looks like it's a general connection error. Are you able to request static files or other HTTP content from the server using `https` and that port number? The call stack has `SslStream.AuthenticateAsServerAsync` on it, which indicates that maybe the browser is using HTTP but the server is expected HTTPS, or something similar. Which ports do you have configured for HTTP

[2018-11-05 16:45] muratg commented on #3256
@BrennanConroy could you take a look?

[2018-11-05 16:47] BrennanConroy commented on #3256
This is because `docker pull` was downloading the redis image and timed out. We can either increase the timeout or find some other way to try and avoid this.

[2018-11-05 16:49] muratg commented on #3256
Sure. I'd consider retrying image pull as well.

[2018-11-05 16:56] BrennanConroy commented on #3223
and How to specify hubname?

There is no "online" callback, if `start` returns successfully then you are connected. You can register a callback to `onClosed` for when the connection has been closed. Take a look at the API docs https://docs.microsoft.com/java/api/com.microsoft.signalr?view=aspnet-signalr-java for all the methods.

If by 'post parameters' you mean send arguments, then use `send` or

[2018-11-05 17:38] bradygaster commented on #3223
As the team has pointed out, passing `https` is all you need to do to enable the SignalR client (in any language) to support the underlying https protocol. If your server side is also enabled with https, everything should work just fine. If your server is running at `localhost:5001` on an https endpoint, simply providing `https://localhost:5001` should result with a successful handshake. If it doe

[2018-11-05 18:11] anurse commented on #3151
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2018-11-05 18:11] #3151 closed

[2018-11-05 18:12] anurse commented on #3207
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2018-11-05 18:12] #3207 closed

[2018-11-05 18:12] anurse commented on #3219
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2018-11-05 18:12] #3219 closed

[2018-11-05 18:31] clintnetwork commented on #3151
This nginx rules has fix the problem :
    proxy_set_header Connection $http_connection;

[2018-11-05 19:21] mikaelm12 commented on #3246
@akira32  One thing to note since you also included the dependency statements. Because of the way Android handles bringing in dependencies we didn't have to add an explicit reference to RX in the sample linked above. If you're making something like a Java console app for example you'll need both of those import statements.

[2018-11-05 20:58] mikaelm12 commented on #3258
To expand a little, it looks like you're basing this code off our test code that relies on types and methods that are not public. You should not be using things like `createHubConnection`, `MockTransport` and `TestHttpClient`.  The [Java client documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2) will show you how to use the public SignalR Java clien

[2018-11-06 02:28] liugt34 opened #3262 "in the android client, the string has a special character and can't deserialize"
the server model class,
[code]
and i send this object with the method
`await this.Clients.All.SendAsync("Receive", chatMessage)`

in the web client ,it works well,can receive it as a json, but in the andoird client ,the received message
has a special character, and when it convert it to a json, it has a wrong.

![image](https://user-images.githubusercontent.com/8056013/48039201-b7434b80-e1ae-11e8-

[2018-11-06 03:01] BrennanConroy commented on #3262
What do you mean? The client will parse the json for you into the type you pass into your "Receive" function on the client. You should never be getting the json and parsing it yourself.

[2018-11-06 03:07] BrennanConroy commented on #3262
Could you show your `hubConnection.on("Receive", ...)` code?

[2018-11-06 03:13] liugt34 commented on #3262
@BrennanConroy   it has't run to the hubConnection.on("Receive", ...) code,,
when it run into the  JsonHubProtocol.java class
![image](https://user-images.githubusercontent.com/8056013/48040675-e65cbb80-e1b4-11e8-85ca-4d0be5a4fb17.png)

it met a wrong  `Expected a string but was BEGIN_OBJECT at line 1 column 44 path $.arguments[0]`

[2018-11-06 03:16] BrennanConroy commented on #3262
I'm guessing your `.on(...)` code isn't registering a complex object that resembles the C# type `ChatMessage` and so when the json is being parsed it can't parse the complex object into the wrong type provided to the `.on(...)` call.

[2018-11-06 03:33] liugt34 commented on #3262
@BrennanConroy
thank u very much ,i find it !  it just a Date type not match.

[2018-11-06 03:46] #3262 closed

[2018-11-06 06:55] akira32 commented on #3259
Sorry! My OS and Visual Studio is Chinese Traditional. So I translate the error messages.
I create a Windows Form with .NET Framework 4.7.1 and copy the Code of SignalRSample to Windows Form Projects. The Windows Form Project add some missing by Nuget. Some reference does not use 2.2 version. For Example: The Microsoft.AspNetCore.SignalR is use 1.0.4.0.

Can I use Windows Form with .NET Framework

[2018-11-06 07:49] akira32 commented on #3246
Thank you! For the performance, I use maven to replace with gradle on Intellij.

[2018-11-06 07:56] akira32 commented on #3228
This pom.xml I used is correct. This thread can be closed.

[2018-11-06 09:06] Mangoxx90 commented on #3223
Use this demo will show error report:

11-06 17:04:45.808 12844-12872/? E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: com.example.pullrequestr, PID: 12844
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$3.done(AsyncTask.java:353)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)

[2018-11-06 09:11] pekkah commented on #3190
@BrennanConroy thanks. That is working now, but I have another question. Is that same `CancellationToken` cancelled also when the client disconnection is detected? Or more specific what is the lifetime of that token? Thinking if I should keep track of all the calls to the streaming method to release the resources or can I trust that the `CancellationToken` is cancelled also when `OnDisconnectedAsy

[2018-11-06 16:11] #3228 closed

[2018-11-06 16:21] BrennanConroy commented on #3190
We cancel the token on disconnects and on stream cancellation from the client.

What do you mean here? I'm assuming each call to the streaming method is from a different connection, so they'll each need to use a different token.

[2018-11-06 16:43] anurse commented on #3259
You can, but you need to manually install the individual packages required for the server components. In .NET Core, these packages are automatically available for you, but in .NET Framework you have to add each individual component. For example:

* For `UseCors` and `AddCors` you need [`Microsoft.AspNetCore.Cors`](https://www.nuget.org/packages/Microsoft.AspNetCore.Cors)
* For `UseFileServer` you

[2018-11-06 18:44] BrennanConroy commented on #3223
From your error:

It looks like you've probably misconfigured the url your app is using. It also looks like you're using the PullRequestR sample Brady pointed at.
The line you need to fix is https://github.com/aspnet/SignalR-samples/blob/515f5d0cdca88da6970929de5a1af4335548f452/PullRequestR/android/app/src/main/java/com/example/pullrequestr/MainActivity.java#L35

And its worth noting that this sam

[2018-11-06 18:48] BrennanConroy commented on #3125
Same issue basically: https://github.com/aspnet/SignalR/issues/3159

[2018-11-06 19:57] anurse commented on #3166
This makes a lot of sense on the server. On the client it takes a small amount more thought (because of .NET Standard support). Filing a separate bug for that.

[2018-11-06 19:59] anurse opened #3264 "Implement support for IAsyncEnumerable in the .NET client"
Split from https://github.com/aspnet/SignalR/issues/3166

Support for IAsyncEnumerable on the client (returning it from `HubConnection.StreamAsync()`). This is just a little thorny because of the open question of .NET Standard support for `IAsyncEnumerable`

[2018-11-06 20:01] anurse commented on #3144
This is fixed

[2018-11-06 20:01] #3144 closed

[2018-11-06 20:03] anurse commented on #3142
https://github.com/aspnet/SignalR/issues/3137

[2018-11-06 20:03] #3142 closed

[2018-11-06 20:09] #3125 closed

[2018-11-06 20:13] anurse commented on #3122
As this is a limitation of the MessagePack-CSharp library, I'm going to close this for now. Let us know if there are specific things we can help drive to get MessagePack working in AOT environments. We'd like to get things working there :).

[2018-11-06 20:13] #3122 closed

[2018-11-06 20:16] bradygaster commented on #3081
cc @mikaelm12

[2018-11-06 20:17] bradygaster commented on #3071
we may revisit this but closing for now. cc @mikaelm12

[2018-11-06 20:17] #3071 closed

[2018-11-06 20:19] #3058 closed

[2018-11-06 20:20] #3048 closed

[2018-11-06 20:20] anurse commented on #3048
Not possible because we are using RxJava now.

[2018-11-06 20:23] anurse commented on #3036
Not really relevant since this was all due to a pre-release build of Java 9 and isn't a warning in our code but rather a warning triggered by gradle

[2018-11-06 20:23] #3036 closed

[2018-11-06 20:29] anurse commented on #2817
Blocked on moving everything to AzDO

[2018-11-06 20:33] NickCraver commented on #2554
We're interested in the results here ;)

[2018-11-06 20:37] #2596 closed

[2018-11-06 20:43] anurse commented on #2562
Since this is caused by NativeScript incorrectly implementing XHR, I don't think there's something we want to do here. We'd still consider a PR to make this better if it can be done that doesn't break the browser scenario.

[2018-11-06 20:43] #2562 closed

[2018-11-06 20:51] anurse commented on #2228
Closing this as it is a limitation of the MessagePack-CSharp library. The library supports customization that could be used to provide support for this, and it can be worked around by avoiding DateTime.MinValue as a parameter value when using MessagePack.

[2018-11-06 20:51] #2228 closed

[2018-11-06 20:52] anurse commented on #2061
#3224 may affect this.

[2018-11-06 20:57] anurse commented on #1565
Closing this as it's a limitation of MessagePack-CSharp

[2018-11-06 20:57] #1565 closed

[2018-11-06 22:18] mikaelm12 commented on #3081
The Preview 3 version of the Java client, version 1.0.0-preview3-35501, should work with Android API level 26 and higher. (The RTM version should work with levels 16 and higher fyi). Let us know if you have issues with the preview 3 client

[2018-11-06 23:23] #3256 closed, assigned to BrennanConroy

[2018-11-07 00:32] aeos opened #3271 "message validation"
We are currently using json schema in our API's and I was wondering if there was a hook we could use to run our validation prior to the message being deserialized into an object?

[2018-11-07 01:51] akira32 commented on #3259
@anurse , Thank your answer.

[2018-11-07 02:40] akira32 commented on #3259
The Windows Form for SignalR Server is created successfully. And the connection with ClientSample is fine.
But there is another problem when I click the Start Button that will block system IO.
Does somebody know how to solve this problem?

[code]

[2018-11-07 06:35] dzmitry-lahoda commented on #3122
1. SignalR MessagePack integration does calls routines of MessagePack which do IL generation even if non of generated code is used by SignalR or my code later. That happens during SignalR builder construction. I have shown fix of SignalR integration earlier. Fix should be on SignalR integration with MessagePack side. Not MessagePack. Types of MessagePack which do IL generation should not be touche

[2018-11-07 10:22] jasonliaocn opened #3273 "what's the difference signalr core vs signalr framework?"
I cannot find any document on this topic can you give some link tell the difference or on the wiki?
thanks.

[2018-11-07 10:50] gfontorbe commented on #3273
I think a good place to start would be on [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-2.1)

[2018-11-07 16:48] BrennanConroy opened #3274 "Add test logging to HubConnectionHandlerTests"

[2018-11-07 17:51] anurse commented on #3271
We do provide the ability to configure the JSON serialization logic, which is described in our [documentation on Configuration](https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.1#jsonmessagepack-serialization-options). We just expose Newtonsoft.Json's configuration options, but I believe you could probably use those to validate schema.

Be aware that those confi

[2018-11-07 17:54] anurse commented on #3259
`host.Run` is a blocking call. You need to use `host.StartAsync`. You'll also need to keep track of the `host` object so you can call `host.StopAsync` when you want to stop the app (which you should always do before your app exits).

[2018-11-07 17:55] PSausM commented on #2316
I had the same issue. It is not mentioned in the docs.

[2018-11-07 17:56] anurse commented on #3273
Closing as the document @gfontorbe linked has the comparison information you are looking for. If you have questions about the content in the doc, please post your feedback in the document itself by clicking the "Content Feedback" button in the "Feedback" section at the bottom of the document. We can clarify any questions you have and add them to the doc to help others.

[2018-11-07 17:56] #3273 closed

[2018-11-07 17:57] bradygaster commented on #3273
Also added to the [FAQ](https://github.com/aspnet/SignalR/wiki/Frequently-Asked-Questions)

[2018-11-07 18:28] anurse commented on #3081
We believe this is fixed in the RTM version of the Java client. We now support as low as API level 16 (though API Level 21 or later is required for TLS 1.2 support). Please feel free to comment/re-open if this issue still occurs in the final release (coming before the end of the year) and we can investigate further.

[2018-11-07 18:28] #3081 closed

[2018-11-07 18:34] anurse opened #3277 "Flaky test: ServerThrowsHubExceptionIfHubMethodCannotBeResolved"
[code]

Flaked out in https://dnceng.visualstudio.com/public/_build/results?buildId=40811&view=logs

[2018-11-07 20:40] aspnet-hello commented on #3277
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](https://dnceng.visualstudio.com/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=41123) on release/2.2 at 8:10:57 PM:
- StreamHubMethodCanAcceptCancellationTokenAsArgumentAndBeTriggeredOnCancellation

[2018-11-07 22:21] aeos commented on #3271
I am using NJsonSchema and I created a Json Converter that performs the validation and then hands serialization back to the default converter. Not sure if this is the right approach, if anyone can think of an alternative.

`public class ValidationConverter : JsonConverter
    {
        protected JsonSchema4 schema {get; set;}
        public ValidationConverter(JsonSchema4 _schema) => schema = _sch

[2018-11-08 03:33] kmleow commented on #3252
Hi @anurse , good day to you. Would like to seek for your guidance on this.

How about having one Hub per version when we have breaking changes?
We could bind each version to a unique path. Clients will not call a version that they do not understand.

Versioning aside, what would your deciding factors be for splitting into multiple Hubs please?

[2018-11-08 05:36] liangshiw commented on #1503
I also encountered this problem. When using LongPolling, injecting IHttpContextAccessor in the hub and get `user.Claims` in httpcontext.  sometimes loses information.

[2018-11-08 06:43] davidfowl commented on #1503
Don't do that, use the GetHttpContext on the HubConnectionContext.

[2018-11-08 06:54] liangshiw commented on #1503
I have defined a global shared session in my architecture. I need to set the value of the session when the request comes.I chose to use IHttpContextAccessor It works fine for mvc and webapi applications,

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp.AspNetCore/AspNetCore/Runtime/Session/AspNetCorePrincipalAccessor.cs#L11

but the cont

[2018-11-08 13:42] PawelGerr commented on #1932
Throwing a custom exception with more information about what happened may be a better solution than let `HttpRequestExeption` to be thrown.

Here is my use case so we have something to discuss about:
SignalR server expects a valid access token. The clients sends none (or the token is invalid) and what I get is a `HttpRequestExeption` with a message `Response status code does not indicate success:

[2018-11-08 18:30] anurse opened #3279 "Run functional tests against HTTPS"
We should run our functional tests (browser, node, and maybe .NET?) against an HTTPS endpoint. Not all of them, but pick some that do a common scenario with a few requests and use them. All transports though.

[2018-11-08 18:32] anurse commented on #3277
There are a few other similarly flaky tests. We should fix these in 2.2. More logging might help (#3274)

[2018-11-08 19:03] anurse commented on #3252
Each Hub means a separate connection from the client. Using Hubs to model versions makes it difficult to support a mix of versions. If you have some clients connected to Hub A and some connected to Hub B, then when you send a message to `Clients.All` or `Clients.Group(x)` in Hub A, none of Hub B's clients will get them. You can use things like `IHubContext<T>` to bridge that gap, but it gets ugly

[2018-11-08 19:47] #3237 closed

[2018-11-08 20:10] aspnet-hello commented on #3277
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](https://dnceng.visualstudio.com/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=41668) on release/2.2 at 7:47:35 PM:
- StreamHubMethodCanAcceptCancellationTokenAsArgumentAndBeTriggeredOnCancellation

[2018-11-08 20:31] mikaelm12 opened #3281 "Implement LongPolling for Java client"
We currently only have support for WebSockets in the Java client. We should look at adding support for LongPolling as our next transport.

[2018-11-08 20:33] mikaelm12 opened #3282 "Transport Fallback in Java Client"
Depending on when we introduce a new transport to the Java client [(issue here)](https://github.com/aspnet/SignalR/issues/3281), we need to implement transport fallback.

[2018-11-08 22:07] anurse commented on #3157
We'll look at some small things (like not failing if the server sends an unknown invocation to the client, etc.) to improve this story in 3.0

[2018-11-08 22:10] anurse commented on #3056
I don't think we can resolve this issue in SignalR since the serializer doesn't actually understand the parameter. The attributes would need to be on the parameter and we'd need to provide the attributes as part of serialization. Neither MessagePack-CSharp nor Json.NET really support this.

[2018-11-08 22:10] #3056 closed

[2018-11-08 22:16] anurse commented on #2960
Let's take a look in 3.0 and see if we can hack around this.

[2018-11-08 22:19] anurse commented on #2900
This can be worked around by using the [RedisOptions.ConnectionFactory](https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.signalr.redis.redisoptions.connectionfactory?view=aspnetcore-2.1) to share a singleton `ConnectionMultiplexer`. We're going to close this until we see further feedback.

[2018-11-08 22:19] #2900 closed

[2018-11-08 22:22] anurse opened #3284 "Make Client Proxies an abstract class"
So that we can add new operators without breaking things. We'd keep the interface, but change the properties to use the abstract class (we could reargue keeping the interface later ;))

[2018-11-08 22:22] anurse commented on #2866
Blocked by #3284

[2018-11-08 22:29] anurse commented on #2775
We aren't looking to provide this kind of batching as a native SignalR scenario. It's totally reasonable to do batching on top of our APIs.

[2018-11-08 22:29] #2775 closed

[2018-11-08 22:30] anurse commented on #2746
We've fixed the immediate test issue, and there's nothing we need to track here anymore.

[2018-11-08 22:30] #2746 closed

[2018-11-08 22:32] anurse commented on #2685
We'd be happy to take contributions for this. The idea would be that we'd pass parameters and results through a custom user-defined function to allow JSON serialization to be customized in JavaScript. If someone is interested in working on it, let us know and we'd be happy to help!

[2018-11-08 22:32] anurse commented on #2549
merging this with #2685

[2018-11-08 22:32] #2549 closed

[2018-11-08 22:33] anurse commented on #2658
Let's leave this until there's a feature motivating the work.

[2018-11-08 22:33] #2658 closed

[2018-11-08 22:36] anurse commented on #2532
We don't want to make this kind of breaking change to an existing type. We could consider adding a new thing, but that means defining a new thing which is difficult since we've burned the name :)

[2018-11-08 22:36] #2532 closed

[2018-11-08 22:37] anurse commented on #2500
Closing this just because we'll need to review all this when we do C++

[2018-11-08 22:37] #2500 closed

[2018-11-08 22:38] anurse commented on #2445
#3235 will track this work from here.

[2018-11-08 22:38] #2445 closed

[2018-11-08 22:42] anurse commented on #3235
After some design discussion, we found that the big blocking issue is that the client doesn't have a way to express the type of `T` in something like `HubException<T>`, which means the client logic gets just as complicated as something like `Result<T>`. We're not going to explore this further right now, and will wait for further feedback.

[2018-11-08 22:42] #3235 closed

[2018-11-08 22:43] anurse commented on #2350
Closing this, waiting for feedback.

[2018-11-08 22:43] #2350 closed

[2018-11-08 22:44] anurse commented on #2346
We don't think this is worth the cost right now. We'll react if necessary

[2018-11-08 22:44] #2346 closed

[2018-11-08 22:45] anurse commented on #2144
We're just going to clean this up. Our perf testing is pretty good so far.

[2018-11-08 22:45] #2144 closed

[2018-11-08 22:45] #1926 closed

[2018-11-08 23:35] anurse opened #3285 "can we still get the connection id in the latest version ?"
_From @omuleanu on Thursday, 08 November 2018 18:07:22_

I used to be getting the getting the connection id  (in signalr v1)  like this:
[code]
        var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

        connection.start().then(function () {
            console.log(connection.id); // always 0 (zero)
[code]

[2018-11-08 23:38] anurse commented on #3285
@omuleanu The connection ID is not available in the client in the current version. This is already tracked in https://github.com/aspnet/SignalR/issues/2590. This was an intentional decision because it makes things easier when scaling out.

What were you using the connection ID for? Generally we recommend using Groups to send messages to specific users.

[2018-11-09 05:53] kmleow commented on #3252
Thank you @anurse ,
attempting to innovate on your idea, what if we did something like below:

[code]

Whereby, we could follow semantic versioning principles. If we add parameters, the same Version1 could still be used. However, if we rename or remove parameters, we can add a new property, `Version2`, into `MyRequestModel`

[code]

The server shall process the latest available version that is not

[2018-11-09 07:48] valeriob commented on #2960
Since 3.0 is far away, can't you just do this ?
https://github.com/Microsoft/TypeScript/issues/20990#issuecomment-426169333

[2018-11-09 08:46] NithinKB666 commented on #1291
Can I use Streaming with channels with this?

[2018-11-09 13:45] akira32chen opened #3287 "Windows Form for Core SignalR Client"
I created a Windows Form with Core SignalR Client.
In TcpConnection.cs appears three errors. I had download System.IO.Pipelines by Nuget. I cannot install System.IO, Visual Studio 2017 display that it does not find the System.IO.dll.

Does somebody know how to solve this problem?

[code]

        public async Task<ConnectionContext> StartAsync()
        {
            await _socket.ConnectAsync(_en

[2018-11-09 14:02] IsmailHassani opened #3288 "Native compile fails on UWP when adding Microsoft.AspNetCore.SignalR.Protocols.MessagePack reference"
Native compile fails on UWP when adding Microsoft.AspNetCore.SignalR.Protocols.MessagePack reference

* Versions of Client-Side NuGet/NPM Packages:
* Are you using the C# client client: 1.0.4
* The Operating System on the Client (Windows/Linux/macOS): UWP

Repro:
- Create new UWP app using the Blank App (Universal Windows) template in VS2017
- Add NuGet package: Microsoft.AspNetCore.SignalR.Protoc

[2018-11-09 15:18] jceddy opened #3289 ".NET Core SignalR 2.1 negotiate spam"
I'm going to come back here to fill in some more information in a bit, but wanted to create the post now just in case someone has seen similar behavior and has an idea a) how to fix it, or b) where to focus investigation.

We have an application where a javascript client is connecting to a SignalR hub in an ASP.NET Core application. The client side and server side SignalR code are both the origina

[2018-11-09 16:33] jceddy commented on #3289
We are actually getting a mix of status codes, 200-204-404-500...some of these may be due to the server not being able to handle the traffic.

Yes, we do have reconnect logic in our client, and my working theory is that that is where I'll find the problem. :)

The client side code looks something like this:

[code]

So, my current guess is that the onclose() is getting called, causing the reconnec

[2018-11-09 16:37] BrennanConroy commented on #3289
FYI, you can simplify your code a lot because connections are reusable. No need to build a new connection everytime and hook all the events/callbacks.

[2018-11-09 17:13] anurse commented on #3288
Yes, this is a limitation of the MessagePack-CSharp library that SignalR uses for serialization (see https://github.com/neuecc/MessagePack-CSharp/issues/146 for more information). It is possible to work-around the problem by pre-generating serialization code for your types, see https://github.com/neuecc/MessagePack-CSharp#pre-code-generationunityxamarin-supports for more information (it refers to

[2018-11-09 17:15] anurse commented on #3287
TcpConnection is not officially supported, it is a sample. DuplexPipe is a helper type we produce, you can copy it from [the source](https://github.com/aspnet/SignalR/blob/release/2.2/src/Common/DuplexPipe.cs).

[2018-11-09 17:15] #3287 closed

[2018-11-09 17:16] anurse commented on #1291
Yes, the full set of SignalR features should work over the TcpConnection sample, though you won't have access to an `HttpContext` on the server, because there is no HTTP :).

[2018-11-09 17:20] jceddy commented on #3289
Here's an excerpt from my IIS logs, filtered to calls from a specific IP to a specific hub:

[code]

[2018-11-09 17:20] anurse commented on #2960
3.0 is the next release (since 2.2 is basically locked down). We'll provide a fix in that version.

[2018-11-09 17:22] anurse commented on #3285
Yeah, that's a pretty common pattern. `Clients.Others` is the recommended way to handle that.

[2018-11-09 17:30] anurse commented on #3252
That seems more complicated than you need and doesn't actually solve the problem really. If you just use a single model, you can't remove anything at all. If you use two separate models, you still can't ever remove anything from `Version1Model` and now when you want to "remove" something, instead of just ignoring the property on `Version1Model`, you have to create a whole new `Version2Model`.

You

[2018-11-09 17:33] anurse commented on #3289
Do you have more than one server? 404 errors usually occur if you have multiple servers and don't use sticky session.

[2018-11-09 17:34] jceddy commented on #3289
we do have more than one server, and it should be using sticky sessions, but I will have someone double-check that

[2018-11-09 18:00] IsmailHassani commented on #3288
Well, it took me some time to find out that this little piece of dependency was cause of build failures in VSTS.
The last time this package has been updated is for about 8 months ago. I find it strange that SignalR with it's recent update still uses this package. @anurse But thank you for the suggested workaround.
In my case I removed the whole MessagePack protocol till further notice.

[2018-11-09 19:07] sebastienricher opened #3290 "CORS issue with latest SignalR with CORS and MVC with default routes"
Hello,

I'm on the latest version of SignalR Core and using this with Asp.Net Core, using CORS and MVC: On HttpSysServer for server and Angular 4 for client.

I used to have everything running perfectly (system is in production), but I refactored how my routes are defined. I set them up now using UseMvcWithDefaultRoute. As soon as I switched to this, I got an error message enabling my SignalR conn

[2018-11-09 21:04] aeos commented on #3271
one weakness in this approach is that the message returned to the client is ambiguous. The JsonSerializationException is transformed into an Unknown hub method '{}'. exception. The server logs tell us what went wrong, but the client has no idea.

[2018-11-09 22:39] pranavkm commented on #3290
@sebastienricher what version of ASP.NET Core \ SignalR are you on? Browsers normalize the `Origin` header when making a preflight request. This means the Origin header would appear as `http://productionsite.com` (note the casing) and the CORS middleware will [ignore the request](https://github.com/aspnet/CORS/blob/release/2.1/src/Microsoft.AspNetCore.Cors/Infrastructure/CorsPolicy.cs#L159-L162).

[2018-11-09 23:10] jceddy commented on #3289
Okay, I think we've narrowed it down more. It appears that it may be the case that some code in our then() is making a call to the hub, and that call is returning the 404, which is then causing the onclose() handler to trigger.

I have no idea why negotiate is fine, and we're getting a 404 on the call that is running inside the then() block, but I have managed to add code to handle this strange si

[2018-11-09 23:10] #3289 closed

[2018-11-09 23:29] #3279 closed

[2018-11-10 06:56] BrennanConroy commented on #3259
Closing as your comment before editing was that the issue is resolved. And https://github.com/aspnet/SignalR/issues/3287 was created for the question after your edit.

[2018-11-10 06:56] #3259 closed

[2018-11-10 13:08] akira32chen commented on #3287
@anurse , Thank you! My problem is solved.

[2018-11-11 17:20] littleowlnest commented on #1063
I was wondering if there was an outcome for this issue?  Was there any discussion regarding its compatibility in PhoneGap?

[2018-11-12 05:41] davidfowl commented on #1291
See https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-2.1#buffer-management for HTTP configuration.

The TCP limits should be a 1MB by default (Kestrel limits). But you may need to bump it up a bit to account for the SignalR framing.

[2018-11-12 08:48] njangir2 commented on #3157
@anurse , that will be really helpful.

[2018-11-12 09:57] NithinKB666 commented on #1291
Thanks david,
 I increased the Kestrel limits even though it dint work.
Then In the client TcpConnection.cs file.

private async Task ProcessReceives()
        {

                while (true)
                {
                    var buffer = _application.Output.GetMemory(1000000);

                    var bytesReceived = await _receiver.ReceiveAsync(buffer);

                    if (bytesReceived

[2018-11-12 10:55] NithinKB666 commented on #1291
I have a question...
I am planning to use one hub to handle TCP and another to handle http clients. To get the data of 1mb(max), do you think it's better to use aspnet core web api to get this 1mb data or is it fine using signalR to get the data. Is there any performance issue using signalR to get such a big data over web api? At max I will have 10 http clients and 5 TCP clients. Your comment on t

[2018-11-12 17:55] jceddy opened #3293 "404 - No Connection with that ID"
On Friday I posted an issue, and closed it by the end of the day because the main problem (connection issue causing what amounted to a denial of service attack) was due to the way we had implemented our code to re-establish a failed connection: [#3289](https://github.com/aspnet/SignalR/issues/3289)

After examining this issue further, reproducing it and capturing client-side traffic logs, I have s

[2018-11-12 18:18] anurse commented on #3293
This kind of 404 behavior means one of two things:

1. The delay between `/baseHub/negotiate` and `/baseHub?id=ABCD123` is so long that the connection times out in between
1. You have multiple server instances/processes/IIS worker processes/etc. without sticky sessions enabled and the `/baseHub/negotiate` call is going to one instance, and then the `/baseHub?id=ABCD123` call is going to a differen

[2018-11-12 18:29] jceddy commented on #3293
Another thing I noticed is that we are seeing a pattern like this:

/baseHub/negotiate (200)
/baseHub/negotiate (200)
/baseHub?id=ABCD123 (404)
/baseHub?id=WXYZ789 (404)

I'm wondering if what is happening is that the first negotiate returns ABCD123, then the second negotiate returns WXYZ789, and by the time the call using ABCD123 actually reaches the server, that connection ID has become invalid.

[2018-11-12 18:31] akousmata opened #3294 "Cannot send data if the connection is not in the 'Connected' State."
Doing a really simple call from the client to the server following [this article's](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.1#call-hub-methods-from-client) example.  When I originally set it up, I had the following code:

[code]
If I launch the page this way, I get the error in the title (client debug is attached).
[signalrdebug.txt](https://github.

[2018-11-12 18:33] BrennanConroy commented on #3294
This is fixed in the 1.1.0 preview builds, you can try them out, or if that isn't possible add a small delay between `start` and `invoke`.

[2018-11-12 18:34] akousmata commented on #3294
When do you anticipate releasing 1.1.0?

[2018-11-12 18:35] BrennanConroy commented on #3294
Soon is all I can say, https://github.com/aspnet/AspNetCore/wiki/Roadmap#schedule

[2018-11-12 18:36] akousmata commented on #3294
so the fix is in the server side code?

[2018-11-12 18:37] BrennanConroy commented on #3294
No, it's on the client side. It wasn't waiting for the handshake response before returning from start.

[2018-11-12 18:39] akousmata commented on #3294
I see, but you're going to time the release with .Net Core 2.2.

[2018-11-12 18:39] davidfowl commented on #3294
Looking at the above code though there's a bug where you're invoking after calling start without waiting on start to complete.

[code]

This is incorrect, it should be:

[code]

[2018-11-12 18:44] akousmata commented on #3294
@BrennanConroy David's answer worked on my end.

[2018-11-12 18:44] #3294 closed

[2018-11-12 19:09] BrennanConroy commented on #3294
Yeah, I missed that you weren't waiting for start to finish. Although you might see the issue occasionally still because of the bug I was referring to.

[2018-11-13 06:42] bruceliu2008 opened #3296 "Can SignalR support RabbitMQ as backplane?"
I am thinking use SignalR with NServiceBus for one of my real time collaboration project, NSB has good integration with RabbitMQ, but has no official integration with Redis, on the other hand, SignalR has scaleout option only for Redis. May I know are there any support for RabbitMQ so that I can just call something like this?

services.AddSignalR().AddRabbitMQ(rabbitMQConn);

Thanks a lot,
Bruce

[2018-11-13 15:17] alex-user opened #3297 ".NET Core SignalR - close connection logic"
Hello all,

I use SignalR v1.0.3 for ASP.NET Core 2.1 and I have question about close connection logic.
For example consider small example step by step:
1 - Client opened connection
2 - After that, server started produce items to client
3 - Over time client close connection

What happens to the messages that were in the queue for sending?
1 - They be lost
2 - The connection will be closed as soon

[2018-11-13 16:50] gavinjensen opened #3298 "InvalidOperationException on SendAsync after Closed with WebSocketException"
The SignarR client HubConnection is getting stuck in a disconnected state after being closed and restarted and is unable to send any more messages.  This occurs after a long connection time of 4-8 hours.

**Scenario**
After running for an extended period of time successfully sending messages the client gets a Closed call with the following WebSocket exception.

**WebSocket Exception on Closed**
`C

[2018-11-13 17:23] anurse commented on #3297
This is what will happen. Once the client closes the connection, any messages which have not been completely received by the client will be lost (even if we waited to ensure they were sent, that's no guarantee that they will arrive in time).

[2018-11-13 17:32] anurse commented on #3298
This is absolutely correct. It sounds like possibly some client state is getting corrupted. If recreating the HubConnection completely fixes the issue, I'd definitely recommend doing that as a workaround for now, the "cost" of doing that (in terms of memory/performance/etc.) is no different. You are correct that it shouldn't be necessary though, so we should try to get to the bottom of that.

Woul

[2018-11-13 18:16] sebastienricher commented on #3290
Hi @pranavkm, I'm on AspNetCore v2.0.1 / MVC v2.0.0,

I've updated everything to the latest (core v2.1.6 and mvc v2.1.3) and I still get the same behavior.

![image](https://user-images.githubusercontent.com/6098066/48433873-3c49da00-e746-11e8-963e-2b81d6ff7849.png)

[2018-11-13 18:29] pranavkm commented on #3290
@sebastienricher the change is in the 2.2. release which hasn't been released as yet. Regardless, could you change the log level in your application to the most verbose level and see what the CORS middleware has to say? Usually it'll indicate why it decided to not provide a CORS response.

[2018-11-13 18:44] gavinjensen commented on #3298
That was my concern as well.  We have a workaround in place now but could redeploy the incorrect code to a test environment and try to turn on logging for you to capture more of the state changes for you to debug the problem.  I'll take a look and get back to you.

[2018-11-13 20:29] BrennanConroy commented on #3254
When importing the SignalR library use:
[code]

@anurse We should talk and see if we can make it so Angular loads that file by default.

[2018-11-13 20:40] alex-user commented on #3297
@anurse thank you for your answer.
We can implement additional logic in our application. But it would be great  do not closing the channel immediately. For example, using a timeout. Or detecting messages on the internal bus. In any case, the client can always forcibly break the connection.

[2018-11-13 21:22] BrianChesbrough commented on #182
Anybody have a non-arbitrary, tested example? I've added something similar to this but now my App cannot connect to the server (works before I add the ctor to the hub).

[2018-11-13 22:57] BrianChesbrough commented on #182
Figured it out, the Hub constructor needed to take the context not the methods.

        private readonly HubMethods _hubMethods;

        public ChatHub(IHubContext<ChatHub> hubContext) => _hubMethods = new HubMethods(hubContext);

[2018-11-14 03:00] anurse commented on #3254
@BrennanConroy it shouldn't have to, but we may need to change our config to make it work. Angular is using WebPack, which uses the Module version.

[2018-11-14 09:16] iniside opened #3302 "Exact specification of Json Messages used for HubProtocol"
Hey

I will first say what I want to do. I'd like to use SignalR for providing API for some backend services.
I also want to create integration for Unreal Engine. I know there is some CPP client code, but it has quite a bit dependencies which are covered by Unreal own std library.
There is:
https://github.com/aspnet/SignalR/blob/release/2.2/specs/HubProtocol.md

But it does not really describe exa

[2018-11-14 12:35] a-konyaev opened #3303 "Java client: NullPointerException in thread "OkHttp Dispatcher" when connection timeout"
I have been trying to connect to server through proxy and have gotten connection timeout.
But during handle that error java-client library failed with NPE:
[code]
There is error in method com.microsoft.signalr.HubConnection#stopConnection at line:
https://github.com/aspnet/SignalR/blob/release/2.2/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnection.java#L431
connectionState is n

[2018-11-14 14:59] sebastienricher commented on #3290
@pranavkm Where can I set this configuration, I tried changing the log level for my application but I don't see any logs about CORS replies. I ran with "Verbose" and "Debug" as LogLevel.

I'm currently running this locally so my Angular client is on http://localhost:4200 and my server application is on http://some-url/ using a local DNS entry. Note that I do have a dash in the url.

[2018-11-14 16:44] BrennanConroy commented on #3302
The spec docs are pretty thorough and give examples of the json payloads you send for each message type (including the type id for that message)

https://github.com/aspnet/SignalR/blob/release/2.2/specs/HubProtocol.md#invocation-message-encoding

Example:
[code]

Is there something missing that could help make this clearer?

[2018-11-14 19:04] iniside commented on #3302
Hey thanks for answer.
[code]

In that particular example I'm not sure what "type:" 1 means.
I think it is Invocation Message but there are also other message types (like Invocation streaming). It would be nice to know which number corresponds to which message type and have short example for every message type.

[2018-11-14 20:36] anurse commented on #3302
Each of the message types are listed in the spec document @BrennanConroy linked to along with the `type` value. Did you read the document? There's a whole section on the JSON encoding and it includes a complete list of message types. Each of those sections also specifies the exact value for the `type` field.

[2018-11-14 21:26] twsouthwick opened #3305 "Restarting TypeScript client does not resubscribe to subscriptions"
### Please include as much of the following as you can in your bug report

* Versions of Server-Side NuGet Packages: 1.0.3
* Versions of Client-Side NuGet/NPM Packages: 1.1.0-preview3-35497. We need a fix that's not in the latest released version for the JS client and reconnects
* Are you using the C# client or the JavaScript client: JavaScript
* The Server you are using (Kestrel/HttpSysServer/IIS

[2018-11-14 21:45] mikaelm12 commented on #3305
I'm assuming you're talking specifically about streaming invocations? Or are you seeing this behavior for setting up handlers for normal invocations? This is the expected behavior for the streaming scenario.

[2018-11-14 23:36] twsouthwick commented on #3305
Just to make sure I understand, for streaming scenario, it's expected that the client manually tracks what streams it is connected to and reconnect to each after restarting the connection.

[2018-11-15 00:05] anurse commented on #3305
Correct, if you are streaming (`.stream` method) and get disconnected, the stream should end (the `complete` method on your subscriber will be called). You have to re-start streams when you reconnect.

[2018-11-15 00:29] twsouthwick commented on #3305
hmm seems like I'm not using the right terms. We aren't using `.stream` - we're using `HubConnection.on(eventName)` and using rxjs to pipe it into an observable. Is that still expected?

[2018-11-15 14:29] sidatacom opened #3307 "After update today to VS 15.9 iOS not working"
![unbenanntes bild](https://user-images.githubusercontent.com/43718498/48561951-6db2d900-e8f1-11e8-8f09-348e2505355e.png)

`[0:] Method not found: void System.Threading.Tasks.ValueTask`1..ctor(System.Threading.Tasks.Sources.IValueTaskSource`1<!0>,int16)`

On connecting to the hub this error show's

ex = {System.MissingMethodException: Method not found: void System.Threading.Tasks.ValueTask`1..ctor

[2018-11-15 16:30] anurse commented on #3305
Ok, that's different. Those should be reconnected. I was talking specifically about streaming method calls.

[2018-11-15 17:04] sidatacom commented on #3307
So i downgrade to 15.8.9 old mono version and xamarin and same code run very well !!!

Did nobody test the iOS implementation here with the preview versions ???

[2018-11-15 17:05] sidatacom commented on #3307
Nobody from Microsoft have a look to this project ???

[2018-11-15 17:19] bradygaster commented on #3307
To which version did you upgrade? Also, have you seen [this note about Xamarin development](https://github.com/aspnet/Announcements/issues/305) from our team?

[2018-11-15 17:32] bradygaster commented on #3307
Thank you for the information, apologies for linking you to an old doc, as it has helped some other Xamarin devs in their journey. The SignalR team members will be engaging some of our friends in the Xamarin team to work on this. I'll keep this thread updated.

[2018-11-15 18:00] bradygaster commented on #3307
I spoke with our colleagues in the Xamarin team and this feels like an issue with a recent Xamarin update, and unrelated to the SignalR package. The team has asked that you use the VS Feedback tool to submit an issue, as the Xamarin team highly prioritizes issues that come in via that tool. For now I will close this GitHub issue as it seems to be specific to this Xamarin update and not to SignalR.

[2018-11-15 18:00] #3307 closed

[2018-11-15 18:27] #3260 closed, assigned to nobody

[2018-11-15 21:28] BrennanConroy opened #3308 "Rename Protocols.Json package to Protocols.NewtonsoftJson"
As well as changing the namespaces and `AddJsonProtocol` -> `AddNewtonsoftJsonProtocol`

[2018-11-15 21:51] Eilon commented on #3308
Let's make sure we have @DamianEdwards sign off on the new names first.

[2018-11-15 22:11] #3297 closed

[2018-11-15 23:00] BrennanConroy commented on #3293
The second call will fail with a message like `"Cannot start a connection that is not in the 'Disconnected' state."`

It looks like you're starting two connections, not sure why you're getting 404s if everything happens in the same second, unless another server is involved.

Is it possible for you to gather logs/traces detailed in https://github.com/aspnet/SignalR/wiki/Diagnostics-Guide ?

[2018-11-15 23:09] bradygaster commented on #1846
This is something we discussed and we think is better handled by application code.

[2018-11-15 23:09] #1846 closed

[2018-11-15 23:09] #1811 closed

[2018-11-15 23:11] bradygaster commented on #1809
At the moment we believe IUserIDProvider already gives enough flexibility here.

[2018-11-15 23:11] #1809 closed

[2018-11-15 23:14] #1799 closed

[2018-11-15 23:18] #1361 closed

[2018-11-15 23:32] bradygaster commented on #357
Adding to the 3.0.0 milestone to consider a solution for Windows on-premise deployments. SQL may **not be the answer** when we're all done, but we're considering this for our next release milestone.

[2018-11-15 23:33] #284 closed

[2018-11-15 23:35] bradygaster commented on #2385
Not saying we're officially committed to the C++ client story but we are considering it for the 3.0 time frame. As well as other potential new clients.

[2018-11-15 23:37] bradygaster opened #3309 "Design a client experience for serverless"
We never actually did this, it just happened. So let's review it and shore it up in 3.0.

[2018-11-15 23:44] bradygaster opened #3310 "Add protocol package for System.Text.Json"

[2018-11-16 12:35] sidatacom commented on #3307
No response from vs team !!!

[2018-11-16 17:51] bradygaster commented on #3307
I can't articulate with predictability how long it will take the feedback team to reply, but I'm confident they'll get to you.

[2018-11-16 18:00] #3274 closed

[2018-11-16 18:00] mikaelm12 opened #3312 "Completion Message in Java client should not require result"
Currently in the Java client we require a result in completion messages when the spec says that a completion message only needs an invocation id https://github.com/aspnet/SignalR/blob/7e96a029756079d0f978f51bf2ceb34b0b366d65/clients/java/signalr/src/main/java/com/microsoft/signalr/InvocationRequest.java#L22-L26

[2018-11-16 18:39] sidatacom commented on #3307
They did an made a [link ](https://github.com/xamarin/xamarin-macios/issues/5133)to github :)

[2018-11-16 20:11] iniside commented on #3302
Hey thanks

I got it working, in the end it was all about missing termination byte.

[2018-11-16 20:11] #3302 closed

[2018-11-17 00:30] mikaelm12 commented on #2927
Streaming added here: cdd7387159190d4e3c1755ffc0830d5b5073bb28

[2018-11-17 00:30] #2927 closed

[2018-11-17 00:33] mikaelm12 commented on #3312
Done as part of the streaming change: cdd7387159190d4e3c1755ffc0830d5b5073bb28

[2018-11-17 00:33] #3312 closed

[2018-11-17 01:05] mikaelm12 opened #3316 "[Java] Stream Item payload is an item, not a result"
The stream item payload is an "item" as per the spec, not a "result".
https://github.com/aspnet/SignalR/blob/3db604d9d25429b1a622bd018f6d59549a7a9f22/clients/java/signalr/src/main/java/com/microsoft/signalr/StreamItem.java#L9

This messes with serialization.

[2018-11-17 03:54] #3127 closed

[2018-11-17 06:39] lucaswalter commented on #2333
I had the same issue with ingress-nginx and ended up having to use these annotation in my Ingress instead:

[code]

[2018-11-17 19:50] sidatacom commented on #3079
Now we have the same with the signalR Client but other DLL.

https://github.com/xamarin/xamarin-macios/issues/5135#issuecomment-439597542

warning MSB3276: Found conflicts between different versions of the same dependent assembly. Please set the "AutoGenerateBindingRedirects" property to true in the project file. For more information, see http://go.microsoft.com/fwlink/?LinkId=294190.

MTOUCH : wa

[2018-11-17 21:31] onlyann commented on #911
@shirhatti
Is it still an issue today to use IIS ARR as a reverse proxy to relay SignalR websocket communications?

[2018-11-18 03:33] dalexsoto commented on #3307
We are now tracking this bug here https://github.com/mono/mono/issues/11731

[2018-11-18 21:53] SeanFarrow commented on #941
@anurse, @bug84, Do you have a sample of doing this? I'm in a situation where I need to stream items from a queue. Given that hubs are transient, is streaming the best option for something like this or should I use hub context and use a client method?

[2018-11-19 08:07] dzmitry-lahoda commented on #3122
@sidatacom, seems your issue about dll binding and redirection.
Issue #3122 is about code generation.
These are not one to one. I suggest to create new issue with separate project-code to see it reproduced.

[2018-11-19 15:17] AlkisFortuneFish opened #3318 "Add Func<T1...Tn, Task> extension methods to HubConnectionExtensions"
The Action<T1...Tn> extension methods in HubConnectionExtension that wrap around the base Func<object[], object, Task> On method are very handy. It would be very useful to have Func<T1...Tn, Task> extension methods, allowing async delegates to be registered using the higher level API.

[2018-11-19 15:27] JMaroz opened #3319 "[Java] Crash when close a connections"
After invoke close on hubconnections.stop the app crash when using the 1.0.0-preview3-35501.

`java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference at com.microsoft.signalr.WebSocketTransport.lambda$start$1(WebSocketTransport.java:56)
        at com.microsoft.signalr.-$$Lambda$WebSocketTransport$AQhmDI2aQR6xOI_rRCG9Mm31O2o.a

[2018-11-19 16:08] anurse commented on #3318
I'm actually surprised we don't have these already, but it looks like you're right :). We should look at adding these, especially since the underlying infrastructure uses a Task-returning method.

[2018-11-19 16:30] BrennanConroy commented on #3319
This should be fixed in the nightly/final build via https://github.com/aspnet/SignalR/pull/3236

[2018-11-19 16:30] #3319 closed

[2018-11-19 17:19] anurse commented on #3308
Make sure to post an announcement (being very clear that this is for **3.0**) to aspnet/Announcements once this change is in.

[2018-11-19 17:29] #3254 closed

[2018-11-19 17:45] BrennanConroy commented on #2879
Github "fixes" is flaky... https://github.com/aspnet/SignalR/pull/3320

[2018-11-19 17:45] #2879 closed

[2018-11-19 17:55] BrennanConroy commented on #3290
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2#default-minimum-level
Is it possible to capture a fiddler trace? Or browser network trace? https://github.com/aspnet/SignalR/wiki/Diagnostics-Guide#network-traces

[2018-11-19 18:01] pranavkm commented on #3290
The order shouldn't matter as long as the CORS middleware appears first. When I run the server with logging enabled, here's a snippet of what I see:

[code]

Do none of these appear in the output logs?

[2018-11-19 18:07] mikaelm12 opened #3322 "Consider changing project structure to be shorter"
Moving to Mondo repo could potentially cause long path issues. We should make our project structure have shorter path length. We can't really do this for java since the folder structure needs to match the package name. This could be mitigated by having a separate SignalR clients repo.

[2018-11-19 19:47] AdanStudent opened #3324 "Connection Fails with accented character in URL"
URL: adánchatroom.azurewebsites.net

Would not connect with when trying to use URL like above, and changed URL to adanchatroom.azurewebsites.net and was able to establish connection.

[2018-11-19 19:57] AlkisFortuneFish commented on #3318
Thanks! 👍
Quite easy to wrap on our end, but felt like it should be part of the actual API, really!

[2018-11-19 20:32] anurse commented on #3322
Suggest pri 3 until we hit a long path issue. Having said that, feel free to go ahead and just do it :).

[2018-11-19 20:38] anurse commented on #3108
The easiest fix here is to detect the kind of 404 we get. Once a 404 is received:

1. Have the client detect the `Connection ID Required` error message and throw an error that points to docs on Sticky Sessions. Something like `The server does not have a record of the current connection. This usually occurs when you are using multiple server instances and don't have Sticky Sessions enabled. See htt

[2018-11-19 20:39] anurse commented on #3108
We should do this in all the clients. The JS client is the worst because it has *no* 404 error (it just says "Error"), but the Java and .NET clients could use the detection logic in 1 above.

[2018-11-19 20:40] anurse commented on #3310
Requires #3308

[2018-11-19 20:46] anurse commented on #3309
The main work items are:

1. Design the desired experience for serverless connections.
    * What code does the client use to connect?
    * How is the "service" instance provisioned? At the moment, the user has to write their own Azure Function to issue the negotiate request.
    * Maybe there could be a way for the service to provide the negotiate endpoint? So instead of connecting to `myfunctio

[2018-11-19 20:49] anurse commented on #1595
The problem here is that while everything works with TestServer, the client can't connect because it tries to use a real WebSocket but the TestServer requires that you use the WebSocket provided by the TestServer itself.

As I mentioned [above](https://github.com/aspnet/SignalR/issues/1595#issuecomment-373846274), we can fix this by allowing a custom `Func<Uri, WebSocket>` to be provided in the cl

[2018-11-19 20:49] anurse commented on #3284
High pri because it's best if we can do this in a major version.

[2018-11-19 20:51] anurse commented on #2572
P0 so we see it often. This was just tracking the things we need to announce as part of breaking changes. Now that active 3.0 development is starting, we can probably just announce the things as they come up.

On a side note: We need to talk about the addition of the MinorVersion property to `IHubProtocol`, since that's a breaking change...

[2018-11-19 20:52] anurse commented on #2619
If we're doing the things, we need to doc them, so P1 IMO

[2018-11-19 20:56] anurse commented on #3239
P1 because this will help us completely transition to AzDO for 2.1 and up.

[2018-11-19 22:41] BrennanConroy commented on #3308
This has been approved

[2018-11-20 00:10] mikaelm12 commented on #2619
Definitely

[2018-11-20 00:11] mikaelm12 commented on #3316
Done: 86787f1c2895dfcff62a569d00f26e5443576e7c

[2018-11-20 00:11] #3316 closed

[2018-11-20 16:53] Aguilex commented on #3307
@sidatacom as you can see from the mono bug referenced here, we have a proposed fix for this issue. We're going through the validation and packaging activities for this and expect to include this fix in the next servicing release for 15.9. Thanks for your patience!

[2018-11-20 16:57] bradygaster commented on #3307
thanks for the update, @Aguilex and team!

[2018-11-20 17:10] Eilon commented on #3308
Breaking change, right?

[2018-11-20 17:11] BrennanConroy commented on #3308
Yes

[2018-11-21 12:20] Buli1212 opened #3328 "SignalR not supported on Android 8.0.0 and higher"
Error while installing on Android 8 device or higher. I've tried Android 8.0.0 and Android 9.0.0:

It looks like an issue with native libraries used by SignalR.
With Android 9 already out there is there any chance to add support for the latest architectures ?

I've tried 'com.microsoft.signalr:signalr:1.0.0-preview3-35501' and implementation 'com.microsoft.aspnet:signalr:0.1.0-preview2-35174' usin

[2018-11-21 13:26] ncthbrt opened #3329 "[JAVA] Concurrency and hub connection state"
The latest version of the Java client on the `/release/2.2` branch does not have measures in place to ensure that the hub connection state is synchronized across threads (with the naked variable being read without concurrency control), this leads to invoke calls failing even when the connection status is `Connected` on other threads.

A possible fix might be to mark this variable as volatile (thou

[2018-11-21 17:46] anurse commented on #3328
We don't use any native libraries directly. It's possible that one of our dependencies does though (GSON, okhttp, and RxJava).

[2018-11-21 17:57] mikaelm12 commented on #3329
Hmm, interesting. We only update the actual `HubConnectionState` inside a lock in the client but I can do some investigation on this. Do you have any more information on a repro?
Thanks!

[2018-11-21 18:22] ncthbrt commented on #3329
Apologies, I'm not at a computer right now, but from the source it may be
because you're using a rentrant lock rather than a reentrant read write
lock, which as far as I understand means that reads much also be
synchronised.

I'm not a professional android developer however (work mainly in F#/C#),
soy understanding of Java threading semantics may be poor.

On Wed, 21 Nov 2018, 19:57 Mikael Mengist

[2018-11-21 19:44] mikaelm12 commented on #3329
Hmm, well maybe would could transition to using a ReadWriteLock since it seems that we're not currently acquiring a lock on reads

[2018-11-21 22:02] mikaelm12 opened #3330 "Consider using ReadWriteLock to protect HubConnctionState in Java client"
Currently we're just using a ReEntrant lock when we update the HubConnectionState enum in the Java client. We should considering changing this to a Read Write lock.

[2018-11-22 08:15] debashish2014 opened #3331 "Server error 502 - Web server received an invalid response while acting as a gateway or proxy server"
Hi,

I have written a Console application to do load testing and I am using c# Microsoft.AspNetCore.SignalR.Client.Core.**HubConnectionBuilder** for creating connections to AspNet Core SignalR application, which is hosted on IIS running on a Windows Server 2012 R2 having 8 Cores and 32 GB RAM.

We have a single Hub in the project, with below method.

[code]

.Net Clr Version of Application pool ha

[2018-11-22 10:18] shkwaleed opened #3332 "SignalR client not running on android below 26 version"
Exception Details
java.lang.ClassNotFoundException: Didn't find class "java.time.Duration" on path: DexPathList[[zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/base.apk", zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/split_lib_dependencies_apk.apk", zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/split_lib_sl

[2018-11-22 10:19] shkwaleed commented on #1017
@anurse Exception Details
java.lang.ClassNotFoundException: Didn't find class "java.time.Duration" on path: DexPathList[[zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/base.apk", zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/split_lib_dependencies_apk.apk", zip file "/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/spli

[2018-11-22 17:20] Buli1212 commented on #3332
try putting

[code]

in your apps' build.gradle

[2018-11-22 17:32] Buli1212 commented on #3328
I was doing calls
[code]
which made me exclude gson library. After I've started using microsoft.signalr.signalr class I didn't have to exclude gson and everything works as expected. The problem I have now is that there is no
HubProxy class. I will create a new issue/question for that. This one can be closed. Thank you for the quick response.

[2018-11-22 17:32] #3328 closed

[2018-11-23 03:37] bluetianx opened #3333 "How to benchmark my signalR?"
I want to benchmark my signalr, I dose not find Microsoft doc that about benchmark signalr. can you give some advice to me . Tks very .  my  version of asp.net core  is  2.1

[2018-11-23 06:55] shkwaleed commented on #3332
tried it but still having same issue

Caused by: java.lang.ClassNotFoundException: Didn't find class
"java.time.Duration" on path: DexPathList[[zip file
"/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/base.apk",
zip file
"/data/app/com.microsoft.aspnet.signalr.samples.androidjavaclient-1/split_lib_dependencies_apk.apk",
zip file
"/data/app/com.microsoft.aspnet.signalr.samples.a

[2018-11-23 10:00] ncthbrt commented on #3329
If need be, could take a look at this on Monday, and maybe make a PR?

[2018-11-23 22:11] BrennanConroy commented on #3332
This is a dupe of https://github.com/aspnet/SignalR/issues/3141

We changed the RTM version to work on API level 16 or 20 if you're using the Azure SignalR Service. The RTM version isn't out yet, but will be soon.

[2018-11-23 22:11] #3332 closed

[2018-11-24 08:31] shkwaleed commented on #3332
If we create our own hub then will it work ?

On Sat, 24 Nov 2018, 03:11 BrennanConroy <notifications@github.com wrote:

[2018-11-25 04:13] BrennanConroy commented on #3332
Hubs are on the server and having nothing to do with Android compatibility on the client.

You will either need to wait until the 1.0.0 java client ships, or build it from source to get the lower API level version.

[2018-11-25 09:18] TareqNet commented on #2963
Any updates?

Thanks!

[2018-11-25 12:52] blahblehblah commented on #2554
VERY interested!

[2018-11-26 01:54] NightAngell opened #3334 "OnDisconnectedAsync(Exception exception) not fired (LongPooling)"
**Server NuGets:** _Microsoft.AspNetCore.App (2.1.1) include Microsoft.AspNetCore.SignalR (1.0.1)_
**Client NPM Packages:** _"@aspnet/signalr": "^1.0.4"_
**Client:** _TypeScript (Angular7)_
**Server:** _IIS Express_
**Operating System (Client and Server):** _Windows 7_
**Browser:** _Chrome_

**Problem:** Hub method  OnDisconnectedAsync(**Exception** _exception_) not fired when:
1. User close Brows

[2018-11-26 11:14] muzzammilhussain commented on #3332
@BrennanConroy  @shkwaleed  what do you mean by Build it from source? and is it confirmed it will work?

[2018-11-26 13:03] kosancicivan opened #3336 "Java Client: NullPointerException when calling hubConnection.stop();"
So my app crash when want to stop hubConnection. Also, same happens when I close internet connection on android device. I call this method:
[code]
And get this errors:

`com.app D/TAG: stop: java.lang.RuntimeException: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Exception.toString()' on a null object reference`

[code]
Is there any solution for this

[2018-11-26 16:32] BrennanConroy commented on #3336
Dupe of https://github.com/aspnet/SignalR/issues/3319
You can wait for the RTM release or build the client yourself if you want the fix immediately.

[2018-11-26 16:32] #3336 closed

[2018-11-26 16:38] BrennanConroy commented on #3334
We changed how some of this worked in 2.2 which will most likely resolve the issues you're seeing. Can you try out the nightly bits on the client and server?

[2018-11-26 16:45] BrennanConroy commented on #3332
Grab the source from https://github.com/aspnet/SignalR/tree/1.1.0/clients/java/signalr/src/main/java/com/microsoft/signalr and build it yourself.

The RTM version of the client will be shipping soon though, so if you can wait that would be easier.

[2018-11-26 18:16] NightAngell commented on #3334
I use WebSockets instead of LongPooling (on Windows 10 instead of 7 [WebSockets transport not available on win7 IIS Express]) and it work (Chrome: F12->Network->Offline don`t work, but this is probably bug related to chrome tools and localhost (client and server are on localhost)*, I test it better when I deploy project to external hosting in the future [For now i write project for studies and I d

[2018-11-26 18:25] #3305 closed, assigned to nobody

[2018-11-26 22:35] mikaelm12 commented on #3329
@ncthbrt I'll take this on. We are considering back porting this change as well.
Thanks for your help!

[2018-11-27 00:01] ncthbrt commented on #3329
Of course. :)
Btw don't know if you saw the PR above.

[2018-11-27 00:42] mikaelm12 opened #3337 "Use the updated HubConnection builder pattern in all the clients"
In the Java client we introduced a new `HubConnection` builder pattern where `HubConnectionBuilder` was an abstract base class for builder implementations. The most common of which being the `HttpHubConnection` builder.
https://github.com/aspnet/SignalR/blob/c852bdcc332ffb998ec6a5b226e35d5e74d24009/clients/java/signalr/src/main/java/com/microsoft/signalr/HubConnectionBuilder.java#L16-L21

We shoul

[2018-11-27 04:54] muzzammilhussain commented on #3332
Any time line when it will be out?

[2018-11-27 16:25] BrennanConroy commented on #3332
Can't give an exact date. But it will be soon.

[2018-11-27 19:09] #3334 closed

[2018-11-27 19:10] bradygaster commented on #3333
@BrennanConroy has a wealth of experience here (as well as cuts and bruises) so he'll have some colorful guidance for you. ;)

[2018-11-27 19:20] mikaelm12 commented on #2828
Hi @aehyok, just wanted to follow up. Have you tried the newest releases of the Java client/seen the blog posts?

[2018-11-27 20:41] anurse commented on #3332
The official timelines are posted to the aspnet/Announcements repo as "Roadmap" issues. So for 2.2: https://github.com/aspnet/Announcements/issues/307 . RTM is planned before the end of 2018.

[2018-11-27 21:53] simeyla commented on #1611
Why can't we just get some reasonable / simple built-in functionality to do this?

      hubConnectionBuilder.withReconnectStrategy({ reconnect: true, maxReconnectTime: 20, hardFailureCallback: () => ... });

Surely an option to HubConnectionBuilder with some simple options wouldn't take much and would lead to much better out of the box performance.

This is exactly the type of project where trust

[2018-11-28 03:51] bluetianx commented on #3333
ok ,Thank you very much.I'm glad to hear the News!!!

[2018-11-28 08:06] davidfowl commented on #3337
There are some issues we need to discuss here, if the factory methods hang off of the builder itself, how do we handle different transports (http vs tcp for example).

[2018-11-28 18:05] natemcmaster commented on #2817
No longer blocked. TeamCity CI has NodeJS 10, as does AzDO.

[2018-11-28 18:06] mikaelm12 commented on #3337
For example, in the http vs tcp case we could just use an overload
`create(String url)`

[2018-11-28 18:50] anurse commented on #3337
This is pretty easy to do in TypeScript since the type system is super flexible. We need to think about how it works in .NET, but I think it's achievable.

For example, we can add `HubConnectionBuilder.Create()` that returns an `HttpHubConnectionBuilder` but what about the existing extension methods on `HubConnectionBuilder`, like `WithUrl` or `WithEndpoint`. If `HttpHubConnectionBuilder` inherits

[2018-11-29 06:58] davidfowl commented on #3337
@mikaelm12 not quite. Those static methods cannot live on the base builder as they would be in different packages (potentially). I'd like to see a proposal using http and tcp as an example where each of those implementations lived in separate packages.

[2018-11-29 16:04] komarovalexander opened #3340 "Is it possible to change Response cookies inside OnConnectedAsync?"
Hi!
[code]
"Headers are read-only, response has already started." error is thrown
Are there any ways to change cookie before base.OnConnectedAsync() is happen?

Btw. in classical .net it is possible to set cookie in OnConnected method

[2018-11-29 17:52] analogrelay commented on #3340
No, it's not possible to set cookies in a Hub event or method. Consider the WebSockets transport: When using that transport, there is only a single HTTP request (the one establishing the socket) and the response is in-progress by the time your application runs. So there's no HTTP response that can be used to set the cookie.

Why do you need to set a cookie? If you need to track state on the client

[2018-11-30 03:31] xiazunyang opened #3341 "[Android&Java] on network change"
https://github.com/aspnet/SignalR/blob/master/clients/java/signalr/src/main/java/com/microsoft/signalr/OkHttpWebSocketWrapper.java#L98
should change to  ```onClose.invoke(0, t.getMessage());```
Otherwise NullPointerException will occur when the network state changes.

[2018-11-30 03:41] BrennanConroy commented on #3341
Dupe of https://github.com/aspnet/SignalR/issues/3336
We've fixed it in the RTM version, which should be out before the end of the year

[2018-11-30 03:41] #3341 closed, assigned to nobody

[2018-11-30 11:31] komarovalexander commented on #3340
I create application for demonstration purposes only.
Here is an explanation:
I use hubs with webapi. Webapi stores temporary data in the session storage and sends notification about changes using groups of signalR hub context. I need to send notification inside one browser (because I use session storage in webapi) so I save signalR groupId into cookie.

I see
I think the best solution for me it's

[2018-11-30 11:31] #3340 closed, assigned to nobody

[2018-11-30 16:31] bradygaster commented on #1611
@simeyla i really like that idea, frankly, of providing a strategy for reconnections. See issue #1057 as it is marked with a 3.0.0 milestone so we're considering it for our next iteration. I like your signature above, though, it is an interesting approach to solving the issue that's relatively consistent with the other methods that hang from hubConnectionBuilder.

[2018-11-30 22:14] BrennanConroy commented on #2592
@halter73 @mikaelm12
We are wanting to do a little redesign here. Idea is to move back to a single `StreamItem` message and `CompletionMessage`.

We have a bit of flexibility if we change the protocol version so we can have `StreamItem` with `streamId` in the new protocol and `invocationId` in the old protocol.

[2018-12-01 06:05] davidfowl commented on #3337
No, we can't make a breaking change like that to a core API that's used by *everyone*. The design needs to be one that doesn't break things. Pick a new base class (HubConnectionBuilderBase) name

[2018-12-01 17:16] davidfowl commented on #1611
Yes, we think it's important to implement something since this scenario is so common. We didn't want to rush the implementation in the first version since reconnect has been a large source of problems in the previous version of SignalR.

[2018-12-03 12:21] vijaysahu12 commented on #1459
Now I have core 2.1 but still I am getting same error message
I have Angular 7 and Core 2.1

Error Message : "This package has been deprecated. Use '@aspnet/signalr' instead."

Command : npm install @aspnet/signalr-client

[2018-12-03 16:27] BrennanConroy commented on #1459
Like the error says, use `@aspnet/signalr`

[2018-12-03 16:31] emilmuller opened #3342 "Cannot return public class with only internal constructors using MessagePack"
If a SignalR hub has a method which returns a type which is public, but has only internal constructors, it fails silently, yielding no error messages on the server side nor on the client side. No exceptions are thrown. Nothing in the debug output window.

Consider the following classes:

[code]

And the following hub method:

`public ApiLoginWithToken LogIn(string username, string password) => new

[2018-12-03 16:56] BrennanConroy commented on #3333
What kind of benchmarking are you wanting to do?

For SignalR there are 2 common scenarios to test:
1. Throughput
1. Connection count

For throughput you only really need 2 machines, a client machine and a server machine. The client machine will spin up 1 to 1000 connections and invoke/receive messages to/from server and you can collect stats based on that. We have some automated benchmarks doing

[2018-12-03 16:59] #3308 closed

[2018-12-03 19:19] muratg commented on #3298
@gavinjensen closing this for now. If you're able to get more information, please let us know and we'll reactivate.

[2018-12-03 19:19] #3298 closed

[2018-12-03 19:20] muratg commented on #3290
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-12-03 20:08] mikaelm12 commented on #3330
Do we want this for 2.2.2?

[2018-12-03 20:37] BrennanConroy commented on #3342
Sadly this looks like a restriction of the library we're using. See https://github.com/neuecc/MessagePack-CSharp/issues/40

Workaround is to use public constructors, or use Json where private/internal constructors are supported.

[2018-12-03 21:02] sebastienricher commented on #3290
Hi folks,

Sorry for the delayed response, had other work priorities. Got some time this morning (just as the issue was being closed haha), here is a Fiddler log for the "MainHub" endpoint for SignalR. I'm not too familiar with Fiddler to don't hesitate to ask for specifics.

Request headers:

OPTIONS /v1/LendingBorrowing/MainHub/negotiate HTTP/1.1
Host: lb-services
Connection: keep-alive
Access-C

[2018-12-03 21:13] sebastienricher commented on #3290
How can I set my project to 2.2.0-rtm-35688? I'm on 2.2.0-preview3-35497 (Latest prerelease) and I'm not sure how to set the version higher than that? Thanks!

[2018-12-03 21:17] muratg commented on #3290
@pranavkm when you have some time, could you take a look please?

[2018-12-03 23:56] BrennanConroy commented on #2817
Done in https://github.com/aspnet/AspNetCore/pull/4378

[2018-12-03 23:56] #2817 closed

[2018-12-04 06:29] bradygaster opened #3343 "Java Streaming Support"
Adding Java streaming to our backlog so we can begin the discussion of when it might be realistic to consider. Probably after we wrap up #2699? As requested via docs in [this doc issue](https://github.com/aspnet/Docs/issues/9771#issuecomment-443964393).

[2018-12-04 06:42] BrennanConroy commented on #3343
Is this for server -> client streaming https://github.com/aspnet/SignalR/issues/2927? We've already done it for 3.0 😄

[2018-12-04 13:26] saibaskaran57 opened #3344 "[Issue] Benchmarking - Concurrent client messages"
Hi,

I'm in midst of benchmarking our application on ASP NET Core SignalR 2.1 and found something that would want to check with the team here.

**Use-case:**
I have a Real-Time application that requires a client to send/stream down high volume(approximated 1 million request per hour) data asynchronously. SignalR Web-sockets was a preferred option as it only creates one connection which can send/st

[2018-12-04 19:21] muratg commented on #3344
This is by design in current release.

We'll consider https://github.com/aspnet/SignalR/issues/3133 in 3.0.

[2018-12-04 19:21] #3344 closed, assigned to nobody

[2018-12-04 19:21] muratg commented on #3344
@BrennanConroy could you add the workaround here?

[2018-12-04 19:28] BrennanConroy commented on #3344
You can achieve long running tasks by using the `IHubContext<Hub>` class. See https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-2.2 for some reference on the usage.

[2018-12-04 19:36] mikaelm12 commented on #3330
It seems like the actual issue here is that we don't do a connection state check when the invoke method is called. With that information, I'm gonna close this issue in favor for one specific to that work,

[2018-12-05 00:46] mikaelm12 commented on #3343
Yeah, the feature work for this is done here https://github.com/aspnet/SignalR/commit/cdd7387159190d4e3c1755ffc0830d5b5073bb28. We just need to add the docs section for streaming but we have to be sure to only add it to the 3.0.0 and later docs. I don't think we have those up yet?

[2018-12-05 07:22] saibaskaran57 commented on #3344
Thanks for the confirmation.

As mentioned by @BrennanConroy, the workaround is to send via Middleware, Controllers. Our clients would be expected to use SignalR Hub to stream down their messages.

I have a thought in mind as below:

Assume the long-running task which is a service call(can be in milliseconds/seconds) and can be concurrent messages sent in.

Does the below workaround recommended to

[2018-12-05 17:10] bradygaster opened #3345 "3.0.0 Milestone Doc Checklist"
Below are the docs (with associated issues for docs and/or product) we'll need to add for 3.0.0.

[ ] Java Streaming Support #2927, #3301

[2018-12-05 17:11] bradygaster commented on #3343
Closing this since it's mainly a doc issue. Also created a single issue we can use to keep track of things we'll need to make sure we doc - or update the docs - during 3.0. #3345

[2018-12-05 17:11] #3343 closed, assigned to nobody

[2018-12-05 17:13] BrennanConroy commented on #3344
I'm assuming that is still server side code, and you just meant it is the code that communicates with the client.

That approach would most likely fail because you are possibly using properties of the Hub class after the Hub method has exited and the Hub will be disposed of after each method call.

[2018-12-05 17:23] saibaskaran57 commented on #3344
@BrennanConroy

Yes, you are right. That is still the server side code. Corrected the comment.

The current design seems to be a show-stopper for our use case. Are there any other workaround on this?

[2018-12-05 17:31] BrennanConroy commented on #3344
Yeah, I have a different workaround for you:

[code]

[2018-12-05 17:39] saibaskaran57 commented on #3344
Thanks for your quick response & workaround. I'll give it a try and let you know how that went.

[2018-12-05 18:23] mikaelm12 commented on #3332
The 1.0.0 version of the Java client has been officially released.
You can import with gradle like so

`compile 'com.microsoft.signalr:signalr:1.0.0'`

And you can find your import statement here https://search.maven.org/artifact/com.microsoft.signalr/signalr/1.0.0/jar

[2018-12-05 18:30] BrennanConroy commented on #3342
If you have logging enabled on the server then you'll get an error log looking like:
[code]

And the client will get an error thrown from the `invoke` call: `Error: Failed to invoke 'methodName' due to an error on the server.`

[2018-12-05 18:50] mikaelm12 commented on #3345
Added client to server streaming and some formatting

[2018-12-06 02:16] ryancole opened #3346 "Invalid negotiation response received"
Hi folks,

I'm trying to make use of Azure's SignalR Service. I'm not using the "Serverless" mode, meaning I have a local ASP.NET Core web server with the `Microsoft.Azure.SignalR` library. That local SignalR server just hands off the connection to Azure, as far as I understand it. Next, I have an Azure Functions v1 application that targets .NET Framework 4.6.1. I intend for these Functions to beh

[2018-12-06 02:18] ryancole commented on #3346
[FunctionApp4.zip](https://github.com/aspnet/SignalR/files/2651398/FunctionApp4.zip)

Here is a sample project of my client code that fails. It's a blank Azure Function HTTP Trigger function project, into which I pasted a few lines of code that tries to connect to my local hub server.

My hub server seems to work when being connected to from the browser. I have some javascript that is using the `@

[2018-12-06 02:24] BrennanConroy commented on #3346
I'm pretty sure Azure Functions are short lived "functions", so you can't have a traditional C# SignalR client running in them since they last for a single Http request basically.

Have you checked out the docs we have for the SignalR Service and Functions? https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service

[2018-12-06 02:31] ryancole commented on #3346
@BrennanConroy thank you for the quick reply!

I have checked those bindings out and they look super handy, but unfortunately we're currently targeting azure functions v1 because we need the .net framework support. I believe those bindings only work within a .net standard / core project, or possibly only on azure functions v2. I tried installing the package and got a whole host of compatibility er

[2018-12-06 09:40] riccardobecker opened #3347 "Question: using ClientWebsocket to connect to SignalR Hub"
Hi all,

not an issue but merely a question. I have a scenario where i need to use a websocketclient (ClientWebsocket, WebsocketSharp) to connect and communicate directly with a signalR hub and thus using "ws://......." to connect to and also being able to specify subprotocol. Is this possible at all?
Thanks in advance,
Riccard

[2018-12-06 16:33] BrennanConroy commented on #3347
It is possible, but a lot of work. You will have to read through the spec and implement it yourself. https://github.com/aspnet/SignalR/tree/master/specs

Why are you needing ClientWebSocket directly? SignalR uses ClientWebSocket internally, and you can force the client to only use WebSockets if that's what you want.

[2018-12-06 16:58] IlCallo opened #3348 "Feature: option to disable URL rewriting"
### Please include as much of the following as you can in your bug report

* Versions of Client-Side NPM Packages: 1.0.4
* Are you using the C# client or the JavaScript client: TS/JS
* The Operating System on the Client (Windows/Linux/macOS): Windows
* The Browser on the client, if using the JavaScript client (IE/Chrome/Edge/Firefox/etc.): Chrome

### Brief description
Currently SignalR client aut

[2018-12-06 19:03] analogrelay commented on #3348
If you pass an absolute URL to the `HubConnectionBuilder`, we won't normalize the URL.

Note that SignalR uses the `WebSocket` and and `EventSource` browser APIs which make HTTP requests **without using XHR or `fetch`** so it's very likely that Angular's `HttpInterceptor` does not receive those requests and any rewriting you perform there **would not apply** to those requests. I'd suggest that you

[2018-12-06 19:17] #3330 closed

[2018-12-06 19:43] ryancole opened #3349 "I receive messages from my local Hub but not messages via Azure SignalR service"
Hi folks,

I've got a setup that I'm trying to make sense of. It still hasn't "clicked" as to how Azure's SignalR service works in conjunction with my local ASP.NET Core SignalR Hub.

## The moving parts that I have

I have my local ASP.NET Core SignalR server. It uses the Azure SignalR extension, which as I understand it offloads the actual transmission part of SignalR to Azure - so websocket, et

[2018-12-06 19:59] bradygaster commented on #3346
What @BrennanConroy says is true, that the Function is short-lived and really, the only way to use SignalR with Functions is the bindings. This short-lived*ness* isn't really an applicable SignalR scenario; you could use the client to connect to a hub and send a message, but you'd be connecting/disconnecting quickly (which could lead to other issues). The idea of SignalR is *always connected*.

Yo

[2018-12-06 20:04] ryancole commented on #3346
Thanks, @bradygaster.

I went ahead and introduced a second Functions application that target .NET Core and uses Functions V2. In that project I have a Service Bus-triggered Function that uses the SignalR output binding to dispatch messages to Azure SignalR service. That aspect of everything seems to be working now, as I can use Fiddler to log the HTTP requests and can see that the binding is inde

[2018-12-06 20:07] #3346 closed, assigned to bradygaster

[2018-12-06 21:10] ryancole commented on #3349
Holy cow, I just figured it out. I've been at this for about a week and a half now.

In the binding, when you specify hub name, you have to append `hub` to the name. I noticed that the `@aspnet/signalr` JS client was appending `hub` to the end of the name of my hub that I specify on the browser side of things. In my Functions binding, if I manually add `hub` to the end of my actual hub name, it wo

[2018-12-06 22:11] ryancole commented on #3349
Oh no I see. It's taking the name of the hub from the class name. I don't know why I for some reason thought my hub was named "Functions" but my class is "FunctionsHub". Dang. A week out of the window due to that! haha

[2018-12-06 22:11] #3349 closed, assigned to nobody

[2018-12-06 22:12] BrennanConroy commented on #3349
Glad you figured it out!

[2018-12-07 00:11] BrennanConroy commented on #2595
Done via https://github.com/aspnet/AspNetCore/pull/4300

[2018-12-07 00:11] #2595 closed

[2018-12-07 00:12] BrennanConroy commented on #2593
Done via https://github.com/aspnet/AspNetCore/pull/4300

[2018-12-07 00:12] #2593 closed

[2018-12-07 07:33] IlCallo commented on #3348
I see... I saw there was the possibility to provide an HttpClient and thought it was using it for requests, but I guess it's using it only for the initial connection, right?
Ty for the answer anyway

[2018-12-07 07:33] #3348 closed, assigned to nobody

[2018-12-07 07:36] riccardobecker commented on #3347
The reason for this is that my clients can ONLY use the websocket protocol directly and not any SignalR client lib. But i think i could benefit from the SignalR implementation on the server side for all connection management and so on.

[2018-12-07 08:44] IlCallo opened #3350 "feat: in-memory stub for local development"
### Please include as much of the following as you can in your bug report

* Versions of Client-Side NPM Packages: 1.1.0
* Are you using the C# client or the JavaScript client: JS/TS
* The Operating System on the Client (Windows/Linux/macOS): Windows
* The Browser on the client, if using the JavaScript client (IE/Chrome/Edge/Firefox/etc.): All

### Proposal

Have you considered developing an in-me

[2018-12-07 20:48] muratg commented on #2592
https://github.com/aspnet/AspNetCore/issues/4401

[2018-12-08 07:58] saibaskaran57 commented on #3344
Hi @BrennanConroy ,

Thanks for your assistance.

I have tried the workaround and it's working great.

Hopefully, it will get considered to have it supported on SignalR instead.

[2018-12-09 07:40] vivekkingston opened #3351 "How to properly reconnect signalr without memory leak"
In my  angular6 website  with ASP.NET server application ,
I want the singnalR client should always stay connected with Hub(Server). For that purpose started the connection on disconnected event with below code snap.

        this.connection.start().done((data: any) => {
            console.log('Now connected');
            this.connectionId = this.connection.id;
            this.connectionEstabli

[2018-12-09 08:20] LilanSilva commented on #1459
Code 2.1 compatible with @aspnet/signalr npm package and it works for me

[2018-12-09 09:17] bluetianx commented on #3333
You made my work easier. Thank you  ，I will do it after some days

[2018-12-10 09:41] Ktirumalsetty commented on #1213
JsonElement availableTransportsElements = jsonElement.getAsJsonObject().get("availableTransports");
I dont see availableTransports in result json .did you face same issue?

[2018-12-10 15:10] emilmuller opened #3352 "How does DI work in regard to DbContext and hubs?"
According to the documentation at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2:

And the definition for a scoped lifetime:

What does that mean when injecting scoped instances into hubs, e.g. DbContexts? Are they disposed of at the end of the request - i.e. when the websocket gets closed? Or when a method call ends?

[2018-12-10 19:12] bradygaster commented on #3352
It is per-method invocation.

[2018-12-10 19:46] mikaelm12 commented on #3303
Yeah, it looks like when there is a failure to fully connect the connectionState variable doesn't get set and so when we try to clean up the outstanding invocations in the `stopConnection` logic we don't check if connectionState was initialized.
Thanks for filing the issue!

[2018-12-10 21:57] bradygaster commented on #3351
If you are automatically starting the connection when it is shut down and you're running the debugging tools, your memory will probably get more used up by the numerous logging lines being written to the output than you will be the connection re-starting. The recommended practice if you want to manually handle your reconnection logic would be to either use exponential back-off or to try to reconne

[2018-12-11 15:04] rcanpahali commented on #3254
Any solution for this issue? I'm also facing with this problem...

`NodeInvocationException: Prerendering failed because of error: Error: Cannot find module './NodeHttpClient'
at Function.Module._resolveFilename (module.js:536:15)
at Function.Module._load (module.js:466:25)
at Module.require (module.js:579:17)
at require (internal/module.js:11:18)
at eval (webpack-internal:///./node_modules/@aspne

[2018-12-11 16:46] BrennanConroy commented on #3254
Have you tried using the 1.1.0 package?

[2018-12-11 22:08] IlCallo commented on #3350
I could try to work on this in some months, but I can use some guidance/hint/starting point about the general direction where I should check if I want to implement this...
Do you have any insight?
I'm familiar with HTTP requests, but not so much with RealTime communication and I don't know where I  should act to prevent/mock the websocket connection and make it all manageable purely in JS

[2018-12-11 22:47] tomagb commented on #3254
Yes, I've tried with 1.1.0 package and the issue didn't go away.

[2018-12-11 23:01] BrennanConroy commented on #3254
Could you provide a sample app? I can't reproduce the issue.

[2018-12-11 23:04] tomagb commented on #3254
Does this [SO help](https://stackoverflow.com/questions/53733316/signalr-on-webpack-and-typescript-cannot-find-module-nodehttpclient)?
I might need some time to strip the (NDA) app in order to post it.

[2018-12-11 23:22] BrennanConroy commented on #3254
Nope, that's the same app I have...

[2018-12-11 23:25] samcov commented on #3344
Very good information guys... Thanks!

[2018-12-12 02:13] juniwang commented on #3126
FYI, it is already fixed in the SDK 1.0.4, that we do not depend on Cookies for sticky sessions anymore.

[2018-12-12 05:31] kietnguyenn commented on #1213
@moozzyk sorry can't you show me the doc for your lib please :(
I read and understand nothing

[2018-12-12 06:24] bradygaster commented on #1213
@kiethandsome the doc page for our Java client is [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2). We also have an up-to-date example using the new ASP.NET Core SignalR Client for Java with a sample Android project [here](https://github.com/aspnet/SignalR-samples/blob/master/PullRequestR/android/app/src/main/java/com/example/pullrequestr/MainActivity.ja

[2018-12-12 13:21] Ktirumalsetty opened #3354 "Does android have Signal R Android client library with sample"
I like to have android version for SignalR

[2018-12-12 18:04] datwelk commented on #1213
Any timeline on the official Swift client? @bradygaster

[2018-12-12 19:30] bradygaster commented on #3354
Have you seen either one of these samples in the main repository? (Seems like we should move the samples into their own place - I'll take that action item!)

https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/samples/JwtClientSample
https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/samples/JwtSample

[2018-12-12 23:08] mikaelm12 commented on #2828
Closing this as we haven't heard from you in a little while. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2018-12-12 23:08] #2828 closed

[2018-12-13 00:37] mikaelm12 commented on #3354
I think this is the link you were looking for https://github.com/aspnet/SignalR-samples/tree/master/AndroidJavaClient 😃

@Ktirumalsetty We've just released the 1.0 Version of our SignalR Java client. You can see a sample (that actually needs to be updated to use the 1.0 Jars) in the link above.
Here is a link to the docs https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetc

[2018-12-13 15:35] stroumphs commented on #3106
I got the same issue with this.
After debug a little bit. The long polling transport type is working for Safari 5.x on windows and not working for Websocket type.
Have problem on handsake. But I cannot find the way to handle onclose event of websocket implement in WebsocketTransport class.
In my case, if I detect websocket not working i will change the transport type to long polling and init the n

[2018-12-13 17:07] wannadream commented on #2528
This saves me tons of time. Thanks.

[2018-12-13 19:03] mikaelm12 commented on #3303
Done: ff385f71c592ff218956cfa3b1b0a184604b8409

[2018-12-13 19:03] #3303 closed

[2018-12-13 22:30] mikaelm12 commented on #3329
This issue is being addressed in this PR https://github.com/aspnet/AspNetCore/pull/4400 and will be going into the 2.2.2 patch of the Java client. That issue is being tracked here:https://github.com/aspnet/AspNetCore/issues/4393. Thank you for the contribution @ncthbrt!

[2018-12-13 22:30] #3329 closed

[2018-12-13 23:22] gatapia commented on #1585
I'm getting this error now.  Angular 7 + .Net Core 2.1 + Microsoft.AspNetCore.SignalR 1.04.

This error does not happen when using the `dotnet run` server but when deploying to IIS (Windows 10 and Windows Server 2008 R2).

I'm assuming that its because win 10 IIS and Win Srv 2008 IIS (7.5) do not have WebSockets.  But isnt SignalR supposed to be smart enough to detect this and fallback?

[2018-12-14 09:18] leehung-net commented on #2094
Im having this same problem.

im using @aspnet/signalr@1.1.0 with npm.

[Log]
Information: Normalizing '/recoverhub' to 'http://localhost:8899/recoverhub'.

[Version]
netcore 2.2.1

[2018-12-14 20:45] bradygaster commented on #1213
@datwelk apologies for the delay, we've been busy. 👍

ATM, we have a lot of priorities and feature requests, as well as continuing to improve the serverless stories and working with the Azure SignalR Service. One question we ask ourselves during each milestone is "which client do we want to build this time." A full end-to-end client is a huge amount of work, and our next milestone (3.0.0) is when

[2018-12-15 02:38] moozzyk commented on #1213
@kiethandsome - [this sample](https://github.com/moozzyk/SignalR-Client-Swift/blob/master/HubSample/AppDelegate.swift) should get you started. I am planning to write a blog post with better explanation soon.

[2018-12-16 08:15] BrennanConroy commented on #3351
Isn't that `reconnected`?
https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client#how-to-handle-connection-lifetime-events

[2018-12-17 00:50] ryancole opened #3355 "change log for javascript signalr core client?"
I see a version  1.1.0 is available but I cannot find any information what has changed since that release. Are there some change log information about this release somewhere?

[2018-12-17 09:22] datwelk commented on #1213
@bradygaster thank you for the extensive reply. Totally agreed regarding Swift, the language has been evolving rapidly, which isn't necessarily a bad thing but it becomes troublesome when trying to maintain a library. I think the fastest path towards an iOS client would be an Objective-C wrapper around the C++ client.

[2018-12-17 17:42] timgabrhel commented on #2316
I just ran in to this exact same issue.

@davidfowl Any chance you could give a little insight into what's happening internally when registering `UseAuthentication`?

[2018-12-17 17:45] davidfowl commented on #2316
The middleware sets the user on the http context.

[2018-12-17 18:21] mikaelm12 commented on #3355
Hi @ryancole. Great question. We usually do release notes for our larger features/additions but as there were no major changes to the javascript client we don't really have a specific set of release notes. There were only minor fixes that happened in the JS client. That being said here is a query over our completed issues in the Javascript client for this release. https://github.com/aspnet/signalr

[2018-12-17 19:20] #3037 closed